<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.wordswith</string>
	<key>connections</key>
	<dict>
		<key>1D095271-389F-4505-902D-5AF68688F6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48E0B375-6946-4835-9199-3F8B6B635C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>778E4F38-788D-4E00-9E69-FC152B66D872</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48E0B375-6946-4835-9199-3F8B6B635C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F8DFE1B-6223-42BE-B785-885660C4F1E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48E0B375-6946-4835-9199-3F8B6B635C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Find words that contain a particular pattern</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WordsWith</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "define {query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48E0B375-6946-4835-9199-3F8B6B635C3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wws</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for word in $(grep "^{query}" ./words.txt); do
	echo "&lt;item uid='start' arg='${word}' valid='yes'&gt;"
	echo "&lt;title&gt;${word}&lt;/title&gt;"
	echo "&lt;subtitle&gt;&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>title</key>
				<string>Words starting with…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9F8DFE1B-6223-42BE-B785-885660C4F1E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wwa</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for word in $(grep ".*{query}.*" ./words.txt); do
	echo "&lt;item uid='anywhere' arg='${word}' valid='yes'&gt;"
	echo "&lt;title&gt;${word}&lt;/title&gt;"
	echo "&lt;subtitle&gt;&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>title</key>
				<string>Words containing…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D095271-389F-4505-902D-5AF68688F6E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wwe</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for word in $(grep "{query}$" ./words.txt); do
	echo "&lt;item uid='end' arg='${word}' valid='yes'&gt;"
	echo "&lt;title&gt;${word}&lt;/title&gt;"
	echo "&lt;subtitle&gt;&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>title</key>
				<string>Words ending with…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>778E4F38-788D-4E00-9E69-FC152B66D872</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D095271-389F-4505-902D-5AF68688F6E7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>48E0B375-6946-4835-9199-3F8B6B635C3D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>778E4F38-788D-4E00-9E69-FC152B66D872</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9F8DFE1B-6223-42BE-B785-885660C4F1E6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
