<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.switchagent</string>
	<key>connections</key>
	<dict>
		<key>102399E3-16B0-445A-911C-1F610D31B3F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9A3E3F-3B42-4CA0-B048-6995798B0378</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECD85329-7C6C-48C6-9C0D-1C7011577305</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Rebuild user agents list.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>901E2D9C-BEA1-40BD-B554-618C2347FD70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>102399E3-16B0-445A-911C-1F610D31B3F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97832F46-3A7B-41ED-A376-8A9C5B6DB1A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAF45349-0D69-42CA-BB0B-32526DF7FEFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC9A3E3F-3B42-4CA0-B048-6995798B0378</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>037CA721-C5C0-4AD4-862C-DE6F1F06704E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD59B338-E907-45D9-8CDD-2EB3812480BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7ECDAAF-F0B3-41DE-8471-B49B318BC71F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7ECDAAF-F0B3-41DE-8471-B49B318BC71F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97832F46-3A7B-41ED-A376-8A9C5B6DB1A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAF45349-0D69-42CA-BB0B-32526DF7FEFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BFE213F-AF33-4938-A8B9-1F9EDC67A3FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Switch the user agent for your frontmost browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SwitchAgent</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>agents_script_filter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>901E2D9C-BEA1-40BD-B554-618C2347FD70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>037CA721-C5C0-4AD4-862C-DE6F1F06704E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>IFS=$'\n,'
browser="$(./current_browser.sh)"
user_agents_list="${alfred_workflow_data}/${browser}.txt"

if [[ -n "${browser}" ]]; then
  if [[ -f "${user_agents_list}" ]]; then
    echo '{"items": ['
    for agent in $(sed 's/, /,/g' "${user_agents_list}"); do
      echo "{
        \"title\": \"${agent}\",
        \"arg\": \"${browser},${agent}\",
        \"mods\": { \"cmd\": { \"arg\": \"${browser}\" } }
      },"
    done
    echo ']}'
  else
    echo "{\"items\": [{
      \"title\": \"Missing the user agents file\",
      \"subtitle\": \"⌘↵ to create it now.\",
      \"valid\": false,
      \"mods\": { \"cmd\": { \"arg\": \"${browser}\" } }
    }]}"
  fi
else
  echo '{"items": [
    {
      "title": "Not all conditions were met",
      "subtitle": "You need a supported browser with the Develop menu active as the frontmost app."
    }
  ]}'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Switch the user agent for your frontmost browser</string>
				<key>title</key>
				<string>SwitchAgents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>102399E3-16B0-445A-911C-1F610D31B3F5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>const arg = "{query}".split(",")
const safari = arg[0]
const agent = arg[1]

Application(safari).activate()
Application("System Events").processes.byName(safari).menuBars[0].menuBarItems.byName("Develop").menus.byName("Develop").menuItems.byName("User Agent").menus.byName("User Agent").menuItems.byName(agent).click()</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC9A3E3F-3B42-4CA0-B048-6995798B0378</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>build_user_agents_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>ECD85329-7C6C-48C6-9C0D-1C7011577305</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>const safari = Application("{query}")

Application("System Events").processes.byName(safari).menuBars[0].menuBarItems.byName("Develop").menus.byName("Develop").menuItems.byName("User Agent").menus.byName("User Agent").menuItems().map(function(item) { return item.name() }).filter(function(item) { return item != null })</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97832F46-3A7B-41ED-A376-8A9C5B6DB1A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>agents_script_filter</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6BFE213F-AF33-4938-A8B9-1F9EDC67A3FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:browser}.txt</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>EAF45349-0D69-42CA-BB0B-32526DF7FEFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>build_user_agents_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AD59B338-E907-45D9-8CDD-2EB3812480BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C7ECDAAF-F0B3-41DE-8471-B49B318BC71F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run `sa` and pick from the list (type to filter results) to switch the user agent for your frontmost browser on the fly.

![](https://i.imgur.com/cULF6XP.png)

Since they seldom change, the Workflow builds and references a file of available user agents. At any point you may ⌘↵ on a result to rebuild it (you’ll be instructed to do so on the first run). This makes normal usage considerably faster.

Currently supports Safari and Safari Technology Preview. Webkit is excluded because there’s no good method to detect if its `Develop` menu is active (a necessity for user agent switching to work).</string>
	<key>uidata</key>
	<dict>
		<key>037CA721-C5C0-4AD4-862C-DE6F1F06704E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>102399E3-16B0-445A-911C-1F610D31B3F5</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6BFE213F-AF33-4938-A8B9-1F9EDC67A3FA</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>901E2D9C-BEA1-40BD-B554-618C2347FD70</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>97832F46-3A7B-41ED-A376-8A9C5B6DB1A7</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>AC9A3E3F-3B42-4CA0-B048-6995798B0378</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>AD59B338-E907-45D9-8CDD-2EB3812480BC</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>C7ECDAAF-F0B3-41DE-8471-B49B318BC71F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>EAF45349-0D69-42CA-BB0B-32526DF7FEFA</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>ECD85329-7C6C-48C6-9C0D-1C7011577305</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
