<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.processcontrol</string>
	<key>connections</key>
	<dict>
		<key>00F3664D-7E92-49FC-BFC5-47D316937CA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89B8099-442B-4DC9-B772-FB4DB5482C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0330729C-FACA-481C-A3CA-93C781DBED8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89B8099-442B-4DC9-B772-FB4DB5482C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E82D1A7-0EC4-44DC-A0A0-F9186211F35E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89B8099-442B-4DC9-B772-FB4DB5482C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15A5C0B3-62B3-411B-ADAD-277754BB3B6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCF6EAEB-6474-4D26-8D21-2E81E4837D12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38AD0EAE-9224-4DE6-B738-59AE8FFE839F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89B8099-442B-4DC9-B772-FB4DB5482C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39BB5E45-0070-432B-AF0D-70B326813CD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C086EB69-1DDE-4488-9461-579A4021B4EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0330729C-FACA-481C-A3CA-93C781DBED8B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A842610A-C696-4006-9B6C-E78CA3D1EA32</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38AD0EAE-9224-4DE6-B738-59AE8FFE839F</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E82D1A7-0EC4-44DC-A0A0-F9186211F35E</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00F3664D-7E92-49FC-BFC5-47D316937CA7</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A842610A-C696-4006-9B6C-E78CA3D1EA32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89B8099-442B-4DC9-B772-FB4DB5482C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C086EB69-1DDE-4488-9461-579A4021B4EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15A5C0B3-62B3-411B-ADAD-277754BB3B6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCF6EAEB-6474-4D26-8D21-2E81E4837D12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11993AF0-0988-4889-AB1E-5C61FB363DDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E89B8099-442B-4DC9-B772-FB4DB5482C7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCF6EAEB-6474-4D26-8D21-2E81E4837D12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Deal with misbehaving processes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ProcessControl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11993AF0-0988-4889-AB1E-5C61FB363DDC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>top</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require 'json'

rerun_timer = ENV['rerun_timer'].empty? ? 3 : ENV['rerun_timer']
processes = %x(ps rcAo 'pid=,%cpu=,%mem=,nice=,command=').split("\n").map(&amp;:split).map { |col| [col[0], col[1], col[2], col[3], col[4..-1].join(' ')] }

script_filter_items = []

processes.each do |item|
  pid = item[0]
  cpu = item[1]
  memory = item[2]
  nice = item[3]
  command = item[4]

  kill_exec = "kill -15 #{pid}"
  force_kill_exec = "kill -9 #{pid}"
  cpu_limit_exec = "cpulimit --include-children --limit #{ENV['default_cpu_limit']} --pid #{pid}"
  renice_exec = "renice -n #{ENV['default_renice']} -p #{pid}"
  freeze_exec = "kill -STOP #{pid}"

  script_filter_items.push(
    uid: pid,
    title: command,
    subtitle: "CPU: #{cpu}% / Memory: #{memory}% / Niceness: #{nice} / PID: #{pid}",
    arg: pid,
    mods: {
      cmd: {
        subtitle: "Kill process (#{kill_exec})",
        arg: kill_exec
      },
      alt: {
        subtitle: "Force kill process (#{force_kill_exec})",
        arg: force_kill_exec
      },
      ctrl: {
        subtitle: "Limit process CPU usage (#{cpu_limit_exec})",
        arg: cpu_limit_exec
      },
      fn: {
        subtitle: "Lower process priority (#{renice_exec})",
        arg: renice_exec
      },
      shift: {
        subtitle: "Freeze process (#{freeze_exec})",
        arg: freeze_exec
      }
    }
  )
end

puts({ rerun: rerun_timer, items: script_filter_items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List top processes by CPU usage</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>39BB5E45-0070-432B-AF0D-70B326813CD8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH="$(./_sharedresources 'cpulimit')"
nohup ${1} &amp;&gt;/dev/null &amp;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DCF6EAEB-6474-4D26-8D21-2E81E4837D12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require 'json'

ARGV[0] = '…' if ARGV[0].empty?
valid_bool = ARGV[0].to_i &gt; 0 ? true : false

kill_exec = "kill -#{ARGV[0]} #{ENV['pid']}"
cpu_limit_exec = "cpulimit --include-children --limit #{ARGV[0]} --pid #{ENV['pid']}"
cpu_limit_kill_exec = "pkill -f cpulimit.*#{ENV['pid']}"
renice_exec = "renice -n #{ARGV[0]} -p #{ENV['pid']}"
unfreeze_exec = "kill -CONT #{ENV['pid']}"

script_filter_items = []

script_filter_items.push(
  uid: 'kill',
  title: "Kill with signal #{ARGV[0]}",
  subtitle: kill_exec,
  valid: valid_bool,
  arg: kill_exec
)
script_filter_items.push(
  uid: 'cpulimit',
  title: "Limit CPU usage to #{ARGV[0]}%",
  subtitle: cpu_limit_exec,
  valid: valid_bool,
  arg: cpu_limit_exec
)
script_filter_items.push(
  uid: 'cpulimit_kill',
  title: "Stop limiting CPU",
  subtitle: cpu_limit_kill_exec,
  valid: true,
  arg: cpu_limit_kill_exec
)
script_filter_items.push(
  uid: 'renice',
  title: "Lower priority by #{ARGV[0]}",
  subtitle: renice_exec,
  valid: valid_bool,
  arg: renice_exec
)
script_filter_items.push(
  uid: 'unfreeze',
  title: "Unfreeze process",
  subtitle: unfreeze_exec,
  valid: true,
  arg: unfreeze_exec
)

puts({ items: script_filter_items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>More granular process actions</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15A5C0B3-62B3-411B-ADAD-277754BB3B6A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>pid</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C086EB69-1DDE-4488-9461-579A4021B4EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0330729C-FACA-481C-A3CA-93C781DBED8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E89B8099-442B-4DC9-B772-FB4DB5482C7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A842610A-C696-4006-9B6C-E78CA3D1EA32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>38AD0EAE-9224-4DE6-B738-59AE8FFE839F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0E82D1A7-0EC4-44DC-A0A0-F9186211F35E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>00F3664D-7E92-49FC-BFC5-47D316937CA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Call `top` for an auto-updating list of processes, ordered by CPU usage. Type to filter by process name.

![](https://i.imgur.com/QFd5ibj.png)

On each process:
+ ⌘↵ quits.
+ ⌥↵ forcibly kills.
+ ⌃↵ limits CPU usage.
+ fn↵ lowers priority (increases niceness).
+ ⇧↵ freezes.

↵ gives more granularity over the options.

![](https://i.imgur.com/smw1ihH.png)</string>
	<key>uidata</key>
	<dict>
		<key>00F3664D-7E92-49FC-BFC5-47D316937CA7</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>0330729C-FACA-481C-A3CA-93C781DBED8B</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>0E82D1A7-0EC4-44DC-A0A0-F9186211F35E</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>11993AF0-0988-4889-AB1E-5C61FB363DDC</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>15A5C0B3-62B3-411B-ADAD-277754BB3B6A</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>38AD0EAE-9224-4DE6-B738-59AE8FFE839F</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>39BB5E45-0070-432B-AF0D-70B326813CD8</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A842610A-C696-4006-9B6C-E78CA3D1EA32</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C086EB69-1DDE-4488-9461-579A4021B4EB</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>DCF6EAEB-6474-4D26-8D21-2E81E4837D12</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>E89B8099-442B-4DC9-B772-FB4DB5482C7E</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>default_cpu_limit</key>
		<string>30</string>
		<key>default_renice</key>
		<string>1</string>
		<key>rerun_timer</key>
		<string>3</string>
	</dict>
	<key>version</key>
	<string>20.3</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
