<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>F6F32783-167C-4BD2-98FF-928A497F94C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62330747-85F5-40D8-949C-5BB3D7D65979</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Proof of concept to make a script filter update itself without further user input</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RepeatRepeat</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "repeatrepeat  "

repeat {query} times
	delay 1	tell application "Alfred 2"		tell application "System Events"			keystroke " "
			key code 51		end tell	end tell
end repeat

tell application "System Events"
	key code 53
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62330747-85F5-40D8-949C-5BB3D7D65979</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>repeatrepeat</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>cat &lt;&lt; EOF
&lt;?xml version='1.0'?&gt;&lt;items&gt;
  &lt;item uid='repeatrepeat' arg='{query}' valid='yes' autocomplete='repeatrepeat'&gt;
    &lt;title&gt;$(date "+%H:%M:%S")&lt;/title&gt;
    &lt;subtitle&gt;&lt;/subtitle&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;
EOF</string>
				<key>subtext</key>
				<string>This workflow will call itself every second</string>
				<key>title</key>
				<string>RepeatRepeat</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F6F32783-167C-4BD2-98FF-928A497F94C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>62330747-85F5-40D8-949C-5BB3D7D65979</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F6F32783-167C-4BD2-98FF-928A497F94C4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
