<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.watchlist</string>
	<key>connections</key>
	<dict>
		<key>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</key>
		<array/>
		<key>20803797-C5B6-42F9-9F31-1425E194C1C3</key>
		<array/>
		<key>2C22F42C-C25C-4D4C-AB42-C31CE9234895</key>
		<array/>
		<key>3B6BF175-810F-4D1C-9E89-0F8BE1BCA98D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open URL in default browser</string>
			</dict>
		</array>
		<key>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</key>
		<array/>
		<key>4B343886-E096-4B4A-B04A-AC6574D6FB41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>52C95301-2DF9-4A14-86FA-7917CFC49D39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20803797-C5B6-42F9-9F31-1425E194C1C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>62F8232B-5D0E-428E-9009-DEAC5E59AF3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE394F89-C4B4-497C-B6E8-5715050AC3CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE394F89-C4B4-497C-B6E8-5715050AC3CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA3CF56F-3E4D-4EB5-8019-B9E517648566</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C22F42C-C25C-4D4C-AB42-C31CE9234895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B81E79EC-8587-4704-B6ED-6B72BD007014</key>
		<array/>
		<key>C8A7E5CB-00A9-4A5B-9AD4-2D31987E06CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81E79EC-8587-4704-B6ED-6B72BD007014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DE394F89-C4B4-497C-B6E8-5715050AC3CE</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>View and manage a sequence of files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WatchList</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to watchlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AA3CF56F-3E4D-4EB5-8019-B9E517648566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>notification() {
	./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "WatchList" -message "${1}"
}
source ./workflowHandler.sh

if [[ ! -d "$(getDataDir)" ]]; then
	mkdir "$(getDataDir)"
fi

echo "{query}" | perl -pe 's/\t/\n/g' &gt;&gt; "$(getDataDir)/towatch.txt"
touch "$(getDataDir)/watched.txt"

notification "Added to watchlist"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C22F42C-C25C-4D4C-AB42-C31CE9234895</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./workflowHandler.sh
towatch="$(getDataDir)/towatch.txt"
watched="$(getDataDir)/watched.txt"

filetoread=$(sed -n "{query}p" "${towatch}")
open "${filetoread}"
sed -i '' "{query}d" "${towatch}"
echo "${filetoread}" | cat - "${watched}" &gt; "$(getDataDir)/tmp.txt"
mv "$(getDataDir)/tmp.txt" "${watched}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE394F89-C4B4-497C-B6E8-5715050AC3CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wlp</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./workflowHandler.sh
towatch="$(getDataDir)/towatch.txt"

IFS=$'\n'

if [[ -z $(cat ${towatch}) ]]; then
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
	echo "&lt;title&gt;Play (wlp)&lt;/title&gt;"
	echo "&lt;subtitle&gt;You have no unwatched files&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
	echo "&lt;/items&gt;"
else
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	towatch=$(cat ${towatch})
	for file in $(echo "${towatch}" | grep -in ".*{query}.*"); do
		line="$(echo ${file} | sed 's/:.*//')"
		file="$(echo ${file} | sed 's/.*://')"
		filename="$(basename ${file})"
		echo "&lt;item uuid='${line}' arg='${line}' valid='yes'&gt;"
		echo "&lt;title&gt;&lt;![CDATA[${filename}]]&gt;&lt;/title&gt;"
		echo "&lt;subtitle&gt;&lt;![CDATA[${file}]]&gt;&lt;/subtitle&gt;"
		echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
		echo "&lt;/item&gt;"
	done
	echo "&lt;/items&gt;"
fi</string>
				<key>subtext</key>
				<string>Pick a file to play</string>
				<key>title</key>
				<string>Play (wlp)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wli</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./workflowHandler.sh
towatch="$(getDataDir)/towatch.txt"

IFS=$'\n'

if [[ -z $(cat ${towatch}) ]]; then
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
	echo "&lt;title&gt;Play (wlp)&lt;/title&gt;"
	echo "&lt;subtitle&gt;You have no unwatched files&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
	echo "&lt;/items&gt;"
else
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	towatch=$(cat ${towatch})
	for file in $(echo "${towatch}" | grep -in ".*{query}.*"); do
		line="$(echo ${file} | sed 's/:.*//')"
		file="$(echo ${file} | sed 's/.*://')"
		duration="$(./_licensed/mediainfo/mediainfo --Output='Video;%Duration/String2%' ${file})"
		filename="$(basename ${file})"
		echo "&lt;item uuid='${line}' arg='${line}' valid='yes'&gt;"
		echo "&lt;title&gt;&lt;![CDATA[${filename}]]&gt;&lt;/title&gt;"
		echo "&lt;subtitle&gt;${duration}&lt;/subtitle&gt;"
		echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
		echo "&lt;/item&gt;"
	done
	echo "&lt;/items&gt;"
fi</string>
				<key>subtext</key>
				<string>Pick a file to play</string>
				<key>title</key>
				<string>Show durations (wli)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>62F8232B-5D0E-428E-9009-DEAC5E59AF3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notification() {
	./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "WatchList" -message "${1}"
}
source ./workflowHandler.sh
towatch="$(getDataDir)/towatch.txt"
watched="$(getDataDir)/watched.txt"

filetoread=$(sed -n "{query}p" "${watched}")
sed -i '' "{query}d" "${watched}"
echo "${filetoread}" | cat - "${towatch}" &gt; "$(getDataDir)/tmp.txt"
mv "$(getDataDir)/tmp.txt" "${towatch}"

notification "Marked as unwatched"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20803797-C5B6-42F9-9F31-1425E194C1C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wlu</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./workflowHandler.sh
watched="$(getDataDir)/watched.txt"

IFS=$'\n'

if [[ -z $(cat ${watched}) ]]; then
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
	echo "&lt;title&gt;Unwatch (wlu)&lt;/title&gt;"
	echo "&lt;subtitle&gt;You have no watched files&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
	echo "&lt;/items&gt;"
else
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	watched=$(cat ${watched})
	for file in $(echo "${watched}" | grep -in ".*{query}.*"); do
		line="$(echo ${file} | sed 's/:.*//')"
		file="$(echo ${file} | sed 's/.*://')"
		filename="$(basename ${file})"
		echo "&lt;item uuid='${line}' arg='${line}' valid='yes'&gt;"
		echo "&lt;title&gt;&lt;![CDATA[${filename}]]&gt;&lt;/title&gt;"
		echo "&lt;subtitle&gt;&lt;![CDATA[${file}]]&gt;&lt;/subtitle&gt;"
		echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
		echo "&lt;/item&gt;"
	done
	echo "&lt;/items&gt;"
fi</string>
				<key>subtext</key>
				<string>Pick a file to mark as unwatched</string>
				<key>title</key>
				<string>Unwatch (wlu)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52C95301-2DF9-4A14-86FA-7917CFC49D39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./workflowHandler.sh
towatch="$(getDataDir)/towatch.txt"
watched="$(getDataDir)/watched.txt"

touch "${towatch}" "${watched}"
open "${towatch}" "${watched}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wle</string>
				<key>subtext</key>
				<string>Open the lists in your default text editor, for manual editing</string>
				<key>text</key>
				<string>Edit (wle)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B343886-E096-4B4A-B04A-AC6574D6FB41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notification() {
	./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "WatchList" -message "${1}"
}
source ./workflowHandler.sh
watched="$(getDataDir)/watched.txt"

cat "${watched}" | perl -pe 's/\n/\0/' | xargs -0 ./_licensed/trash/trash
cat /dev/null &gt; "${watched}"

notification "Watched files were moved to the trash"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B81E79EC-8587-4704-B6ED-6B72BD007014</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wld</string>
				<key>subtext</key>
				<string>Move your watched files to the trash</string>
				<key>text</key>
				<string>Delete (wld)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8A7E5CB-00A9-4A5B-9AD4-2D31987E06CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notification() {
	./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "WatchList" -message "${1}"
}
source ./workflowHandler.sh
watched="$(getDataDir)/watched.txt"

filetoread=$(sed -n "{query}p" "${watched}")
url=$(mdls -name kMDItemWhereFroms "${filetoread}" | sed -n "2p" | tr -d ' "\n')
echo -n "${url}" | pbcopy

notification "Copied link to clipboard"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wls</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./workflowHandler.sh
watched="$(getDataDir)/watched.txt"

IFS=$'\n'

if [[ -z $(cat ${watched}) ]]; then
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
	echo "&lt;title&gt;Share (wls)&lt;/title&gt;"
	echo "&lt;subtitle&gt;You need to use this with watched files&lt;/subtitle&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
	echo "&lt;/items&gt;"
else
	echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
	watched=$(cat ${watched})
	for file in $(echo "${watched}" | grep -in ".*{query}.*"); do
		line="$(echo ${file} | sed 's/:.*//')"
		file="$(echo ${file} | sed 's/.*://')"
		url="$(mdls -name kMDItemWhereFroms ${file} | sed -n "2p" | tr -d ' "\n')"
		if [[ -z "${url}" ]]; then
			url="This item has no metadata on where it's from"
			valid="no"
		else
			valid="yes"
		fi
		filename="$(basename ${file})"
		echo "&lt;item uuid='${line}' arg='${line}' valid='${valid}'&gt;"
		echo "&lt;title&gt;&lt;![CDATA[${filename}]]&gt;&lt;/title&gt;"
		echo "&lt;subtitle&gt;&lt;![CDATA[${url}]]&gt;&lt;/subtitle&gt;"
		echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
		echo "&lt;/item&gt;"
	done
	echo "&lt;/items&gt;"
fi</string>
				<key>subtext</key>
				<string>Get URL from where item is from</string>
				<key>title</key>
				<string>Share (wls)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B6BF175-810F-4D1C-9E89-0F8BE1BCA98D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notification() {
	./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "WatchList" -message "${1}"
}
source ./workflowHandler.sh
watched="$(getDataDir)/watched.txt"

filetoread=$(sed -n "{query}p" "${watched}")
url=$(mdls -name kMDItemWhereFroms "${filetoread}" | sed -n "2p" | tr -d ' "\n')
open "${url}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>20803797-C5B6-42F9-9F31-1425E194C1C3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2C22F42C-C25C-4D4C-AB42-C31CE9234895</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3B6BF175-810F-4D1C-9E89-0F8BE1BCA98D</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>4B343886-E096-4B4A-B04A-AC6574D6FB41</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>52C95301-2DF9-4A14-86FA-7917CFC49D39</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>62F8232B-5D0E-428E-9009-DEAC5E59AF3F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AA3CF56F-3E4D-4EB5-8019-B9E517648566</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B81E79EC-8587-4704-B6ED-6B72BD007014</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>C8A7E5CB-00A9-4A5B-9AD4-2D31987E06CE</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>DE394F89-C4B4-497C-B6E8-5715050AC3CE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
