<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.watchlist</string>
	<key>connections</key>
	<dict>
		<key>006E81EE-A542-4616-AE6B-5262EF4E59C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A1A7853-05AD-43B6-AFF0-55104517AB51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</key>
		<array/>
		<key>10E44EB4-6139-4E72-AD84-137F581D67A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20803797-C5B6-42F9-9F31-1425E194C1C3</key>
		<array/>
		<key>2BD98040-76A3-48BE-8E0F-68D1F1F9C7E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C22F42C-C25C-4D4C-AB42-C31CE9234895</key>
		<array/>
		<key>3B6BF175-810F-4D1C-9E89-0F8BE1BCA98D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open URL in default browser</string>
			</dict>
		</array>
		<key>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</key>
		<array/>
		<key>475F7D72-F65B-4E51-99C1-65C581528087</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C22F42C-C25C-4D4C-AB42-C31CE9234895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B343886-E096-4B4A-B04A-AC6574D6FB41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>52C95301-2DF9-4A14-86FA-7917CFC49D39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20803797-C5B6-42F9-9F31-1425E194C1C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE394F89-C4B4-497C-B6E8-5715050AC3CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>87E67178-1A36-458D-9883-D7A839F8E020</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81E79EC-8587-4704-B6ED-6B72BD007014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A0CB4B50-6085-4C77-BA3D-435ABE469ECE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81E79EC-8587-4704-B6ED-6B72BD007014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9B03347-978A-4547-9F09-AC992131AEFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE394F89-C4B4-497C-B6E8-5715050AC3CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA3CF56F-3E4D-4EB5-8019-B9E517648566</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C22F42C-C25C-4D4C-AB42-C31CE9234895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B81E79EC-8587-4704-B6ED-6B72BD007014</key>
		<array/>
		<key>C8A7E5CB-00A9-4A5B-9AD4-2D31987E06CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81E79EC-8587-4704-B6ED-6B72BD007014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6023D14-C151-44A0-BC02-08938DB9D46E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20803797-C5B6-42F9-9F31-1425E194C1C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DE394F89-C4B4-497C-B6E8-5715050AC3CE</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Watch and manage local videos and streams</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WatchList</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to watchlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AA3CF56F-3E4D-4EB5-8019-B9E517648566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list towatch

if [[ ! -d "${non_volatile_prefs_dir}" ]]; then
  mkdir "${non_volatile_prefs_dir}"
fi

files_to_add=$(echo "{query}" | perl -pe 's/\t/\n/g' | tail -r)

for file in ${files_to_add}; do
  item_duration="$(./_licensed/mediainfo/mediainfo --Output='Video;%Duration/String2%' ${file})"
  item_size="$(du -h ${file} | perl -pe 's/^\s*(.*)\t.*/\1/')"
  item_title="$(basename ${file%.*})"

  new_item="file⸗${item_title}⸗${file}⸗${item_size}⸗${item_duration}"
  prepend "${new_item}" "${list}"
done

touch "${watched}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C22F42C-C25C-4D4C-AB42-C31CE9234895</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>add_file_to_watchlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>475F7D72-F65B-4E51-99C1-65C581528087</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>swl</string>
				<key>subtext</key>
				<string>Adds url to play video from stream</string>
				<key>text</key>
				<string>Stream add (swl)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>006E81EE-A542-4616-AE6B-5262EF4E59C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list towatch

if [[ ! -d "${non_volatile_prefs_dir}" ]]; then
  mkdir "${non_volatile_prefs_dir}"
fi

item_location="$(pbpaste)"
item_title=$(youtube-dl --no-playlist --get-title "${item_location}")
item_duration=$(youtube-dl --no-playlist --get-duration "${item_location}" | rev | sed 's/^/s/;s/:/ nm/;s/:/ h/' | rev)

if [[ -n "${item_title}" ]]; then
  # fix for websites that need various video parts, causing title and duration to repeat
  total_parts=$(wc -l &lt;&lt;&lt; "${item_title}" | perl -pe 's/\s*//')
  if [[ "${total_parts}" &gt; 1 ]]; then
    remaining_parts="$((total_parts - 1))"
    item_title=$(head -1 &lt;&lt;&lt; "${item_title}" | sed "s/$/ (and ${remaining_parts} more)/")
    item_duration=$(head -1 &lt;&lt;&lt; "${item_duration}")
  fi

  new_item="stream⸗${item_title}⸗${item_location}⸗n/a (stream)⸗${item_duration}"
  prepend "${new_item}" "${list}"
  notification "Added ${item_title} as stream"
else
  notification 'Could not add that link as a stream'
  exit 1
fi

touch "${watched}"

# update youtube-dl if it's more than 15 days old
if [[ $(find youtube-dl -mtime +15) ]]; then
  python youtube-dl --update
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A1A7853-05AD-43B6-AFF0-55104517AB51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wlp</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./watchlist_functions.sh
search_query='{query}'

if [[ -z $(cat ${towatch}) ]]; then
  echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
  echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
  echo "&lt;title&gt;Play (wlp)&lt;/title&gt;"
  echo "&lt;subtitle&gt;You have no files to watch&lt;/subtitle&gt;"
  echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
  echo "&lt;/item&gt;"
  echo "&lt;/items&gt;"
else
  use_list towatch
  watch_script_filter "${search_query}"
fi</string>
				<key>subtext</key>
				<string>Pick a file to play</string>
				<key>title</key>
				<string>Play (wlp)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list towatch
line_number='{query}'

load_item "${line_number}"

play_file "${item_location}"

move_list_item "${line_number}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE394F89-C4B4-497C-B6E8-5715050AC3CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>showlist</string>
				<key>triggername</key>
				<string>Show list</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>10E44EB4-6139-4E72-AD84-137F581D67A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>playnext</string>
				<key>triggername</key>
				<string>Play next</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>A9B03347-978A-4547-9F09-AC992131AEFB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list watched
line_number='{query}'

load_item "${line_number}"

move_list_item "${line_number}"

notification "Marked ${item_title} as unwatched"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20803797-C5B6-42F9-9F31-1425E194C1C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wlu</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./watchlist_functions.sh
search_query='{query}'

if [[ -z $(cat ${watched}) ]]; then
  echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
  echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
  echo "&lt;title&gt;Play (wlu)&lt;/title&gt;"
  echo "&lt;subtitle&gt;You have no unwatched files&lt;/subtitle&gt;"
  echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
  echo "&lt;/item&gt;"
  echo "&lt;/items&gt;"
else
  use_list watched
  watch_script_filter "${search_query}"
fi</string>
				<key>subtext</key>
				<string>Pick a file to mark as unwatched</string>
				<key>title</key>
				<string>Unwatch (wlu)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52C95301-2DF9-4A14-86FA-7917CFC49D39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>unwatchlast</string>
				<key>triggername</key>
				<string>Unwatch last</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>D6023D14-C151-44A0-BC02-08938DB9D46E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wle</string>
				<key>subtext</key>
				<string>Open the lists in your default text editor, for manual editing</string>
				<key>text</key>
				<string>Edit (wle)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B343886-E096-4B4A-B04A-AC6574D6FB41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh

touch "${towatch}" "${watched}"
open -t "${towatch}" "${watched}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wld</string>
				<key>subtext</key>
				<string>Move your watched files to the trash</string>
				<key>text</key>
				<string>Delete (wld)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8A7E5CB-00A9-4A5B-9AD4-2D31987E06CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list watched

cat "${list}" | cut -d'⸗' -f3 | perl -pe 's/\n/\0/' | xargs -0 ./_licensed/trash/trash
cat /dev/null &gt; "${list}"

notification "Watched files were moved to the trash"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B81E79EC-8587-4704-B6ED-6B72BD007014</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>deletewatched</string>
				<key>triggername</key>
				<string>Delete watched</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>87E67178-1A36-458D-9883-D7A839F8E020</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>delete_watched_files_from_watchlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A0CB4B50-6085-4C77-BA3D-435ABE469ECE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wls</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./watchlist_functions.sh
search_query='{query}'

if [[ -z $(cat ${watched}) ]]; then
  echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
  echo "&lt;item uuid='none' arg='none' valid='no'&gt;"
  echo "&lt;title&gt;Share (wls)&lt;/title&gt;"
  echo "&lt;subtitle&gt;You need to use this with watched files&lt;/subtitle&gt;"
  echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
  echo "&lt;/item&gt;"
  echo "&lt;/items&gt;"
else
  use_list share
  watch_script_filter "${search_query}"
fi</string>
				<key>subtext</key>
				<string>Get URL from where item is from</string>
				<key>title</key>
				<string>Share (wls)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B6BF175-810F-4D1C-9E89-0F8BE1BCA98D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list share
line_number='{query}'

load_item "${line_number}"

url=$(get_item_origin_url "${item_type}" "${item_location}")

echo -n "${url}" | pbcopy

notification "Copied link to clipboard"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>sharelast</string>
				<key>triggername</key>
				<string>Share last</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>2BD98040-76A3-48BE-8E0F-68D1F1F9C7E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source ./watchlist_functions.sh
use_list share
line_number='{query}'

load_item "${line_number}"

url=$(get_item_origin_url "${item_type}" "${item_location}")

open "${url}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>006E81EE-A542-4616-AE6B-5262EF4E59C5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>0DDE2F4F-9DE8-4C40-BB85-ED0DF8C613EE</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>10E44EB4-6139-4E72-AD84-137F581D67A1</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>20803797-C5B6-42F9-9F31-1425E194C1C3</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>2A1A7853-05AD-43B6-AFF0-55104517AB51</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>2BD98040-76A3-48BE-8E0F-68D1F1F9C7E6</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>2C22F42C-C25C-4D4C-AB42-C31CE9234895</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3B6BF175-810F-4D1C-9E89-0F8BE1BCA98D</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>3FB08D9D-FA61-4076-A99A-E8B45A21CC8D</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>475F7D72-F65B-4E51-99C1-65C581528087</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4B343886-E096-4B4A-B04A-AC6574D6FB41</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>52C95301-2DF9-4A14-86FA-7917CFC49D39</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>7EE6AEBF-1246-428C-B2E9-C9F5BBCB5EF4</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>7F8D7B1C-9061-4414-98C2-FEEB13C9314B</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>87E67178-1A36-458D-9883-D7A839F8E020</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>A0CB4B50-6085-4C77-BA3D-435ABE469ECE</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>A9B03347-978A-4547-9F09-AC992131AEFB</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>AA3CF56F-3E4D-4EB5-8019-B9E517648566</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B81E79EC-8587-4704-B6ED-6B72BD007014</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>C8A7E5CB-00A9-4A5B-9AD4-2D31987E06CE</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>D6023D14-C151-44A0-BC02-08938DB9D46E</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>DE394F89-C4B4-497C-B6E8-5715050AC3CE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
