<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.incognitoclone</string>
	<key>connections</key>
	<dict>
		<key>51478E73-B6B6-403C-B9C1-A8AD48651EAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E55931A9-AE1B-4D92-92C2-E387DD102210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67D2781F-8C6C-47C6-9CB0-418A80B12D94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51478E73-B6B6-403C-B9C1-A8AD48651EAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F91EA669-611F-436A-89B4-0D448347CCB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B87F8E59-81FA-4464-AA57-9D4A4578B362</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51478E73-B6B6-403C-B9C1-A8AD48651EAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1C78EAD-183B-46FC-93DD-CE9D62824D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8CC16BF-1B35-4056-B47E-07EBE41A4384</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Opens in incognito and closes the original tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B87F8E59-81FA-4464-AA57-9D4A4578B362</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Opens in window with new profile (Chromium-based browsers only)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67D2781F-8C6C-47C6-9CB0-418A80B12D94</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Opens in window with new profile, and closes the original tab (Chromium-based browsers only)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8CC16BF-1B35-4056-B47E-07EBE41A4384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F91EA669-611F-436A-89B4-0D448347CCB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F91EA669-611F-436A-89B4-0D448347CCB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E55931A9-AE1B-4D92-92C2-E387DD102210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Open browser frontmost tabs in private windows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IncognitoClone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E55931A9-AE1B-4D92-92C2-E387DD102210</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ic</string>
				<key>subtext</key>
				<string>Open browser frontmost tabs in private windows</string>
				<key>text</key>
				<string>IncognitoClone</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1C78EAD-183B-46FC-93DD-CE9D62824D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ObjC.import('stdlib') // For $.getenv

const close_current = $.getenv('close_tab') === 'true'
const webkit_menu = $.getenv('webkit_menu_path').split(',').map(item =&gt; item.trim())

const frontmost_process = Application('System Events').applicationProcesses.where({ frontmost: true })
const frontmost_app_name = frontmost_process.name()[0]
const frontmost_app = Application(frontmost_app_name)

const chromium_variants = ['Google Chrome', 'Chromium', 'Opera', 'Vivaldi', 'Brave Browser', 'Microsoft Edge']
const webkit_variants = ['Safari', 'Webkit']

if (chromium_variants.some(app_name =&gt; frontmost_app_name.startsWith(app_name))) {
  const current_tab_url = frontmost_app.windows[0].activeTab.url()
  if (close_current) frontmost_app.windows[0].activeTab.close()

  frontmost_app.Window({ mode: 'incognito' }).make()
  frontmost_app.windows[0].activeTab.url = current_tab_url
} else if (webkit_variants.some(app_name =&gt; frontmost_app_name.startsWith(app_name))) {
  const current_tab_url = frontmost_app.windows[0].currentTab.url()
  if (close_current) frontmost_app.windows[0].currentTab.close()

  try {
    frontmost_process.menuBars[0].menuBarItems.byName(webkit_menu[0])
      .menus[0].menuItems.byName(webkit_menu[1]).click()
  } catch {
    throw new Error('Unable to find menu item. Verify that the "webkit_menu_path" variable has the correct two-step path, separated by a comma, with the exact names of the items')
  }

  frontmost_app.windows[0].currentTab.url = current_tab_url
} else {
  throw new Error('You need a supported browser as your frontmost app')
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F91EA669-611F-436A-89B4-0D448347CCB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close_tab</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close_tab</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F8CC16BF-1B35-4056-B47E-07EBE41A4384</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ObjC.import('stdlib') // For $.getenv

const close_current = $.getenv('close_tab') === 'true'

const frontmost_app_name = Application('System Events').applicationProcesses.where({ frontmost: true }).name()[0]
const frontmost_app = Application(frontmost_app_name)

const chromium_variants = ['Google Chrome', 'Chromium', 'Opera', 'Vivaldi', 'Brave Browser', 'Microsoft Edge']
const webkit_variants = ['Safari', 'Webkit']

if (chromium_variants.some(app_name =&gt; frontmost_app_name.startsWith(app_name))) {
  const current_tab_url = frontmost_app.windows[0].activeTab.url()
  if (close_current) frontmost_app.windows[0].activeTab.close()

  const app = Application.currentApplication()
  app.includeStandardAdditions = true
  app.doShellScript('open -na "' + frontmost_app_name + '" --args --user-data-dir="$(mktemp -d)" --no-first-run ' + current_tab_url)
} else if (webkit_variants.some(app_name =&gt; frontmost_app_name.startsWith(app_name))) {
  throw new Error('Webkit-based browsers do not support multiple profiles')
} else {
  throw new Error('You need a supported browser as your frontmost app')
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51478E73-B6B6-403C-B9C1-A8AD48651EAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close_tab</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B87F8E59-81FA-4464-AA57-9D4A4578B362</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close_tab</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>67D2781F-8C6C-47C6-9CB0-418A80B12D94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Invoke `ic` to open the current tab in your frontmost browser in a new incognito (Chromium-based browsers) or private (Webkit-based browsers) window. Actioning with ⌃↵ will also close the tab in your current window. ⌥↵ opens the tab in a new clean temporary browser profile window, and ⌘↵ does the same while closing the tab in the current window.

Webkit-based browsers do not support multiple profiles, so that feature is not available to them.

In addition, Webkit-based browsers do not support opening new private windows programatically, so to do it we can either fake a keyboard shortcut or click the menu options. Faking keyboard shortcuts can break in more situations, so this Workflow uses the latter technique. If your system is not in English, change the `webkit_menu_path` Workflow Environment Variable to the menu words in your language (they must be exact).</string>
	<key>uidata</key>
	<dict>
		<key>51478E73-B6B6-403C-B9C1-A8AD48651EAE</key>
		<dict>
			<key>note</key>
			<string>New profile window. Chromium-based.</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>67D2781F-8C6C-47C6-9CB0-418A80B12D94</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B87F8E59-81FA-4464-AA57-9D4A4578B362</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D1C78EAD-183B-46FC-93DD-CE9D62824D4D</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>E55931A9-AE1B-4D92-92C2-E387DD102210</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F8CC16BF-1B35-4056-B47E-07EBE41A4384</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>F91EA669-611F-436A-89B4-0D448347CCB6</key>
		<dict>
			<key>note</key>
			<string>Incognito or Private window. Chromium-based or Webkit-based.</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>webkit_menu_path</key>
		<string>File, New Private Window</string>
	</dict>
	<key>version</key>
	<string>21.2</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
