<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.watchlist</string>
	<key>connections</key>
	<dict>
		<key>2D2C4B1F-AD23-4F61-A7B2-2122216F9F0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8F9509C-843D-40C8-B5F1-6B8FC692A18C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B8DC012-8D13-4919-8EB0-AC42C883527E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>082FCE19-5B3C-454B-80ED-839DD28766F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63FBFF0E-05C5-47D2-9951-CB86E114264B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>082FCE19-5B3C-454B-80ED-839DD28766F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68BC0595-725B-4DDD-B33F-01C3DE55A709</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D39E405-629C-4741-BBA3-D87CFC3D419A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84C51977-8426-491F-A9D4-A6DF7E8F0C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DBE8BF2-3AA2-46A3-A028-739C1E71A985</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98D586EA-8DD5-4EAE-8A4A-3A06AC84E9DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88990516-33AA-49DC-8096-95883FB6BE51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A22F833D-4556-4FEE-8A77-EE6A6A2FE8FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84C51977-8426-491F-A9D4-A6DF7E8F0C8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4752307-AF7E-4E47-80F9-1BB75C5CCFCB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Add full playlist to play from stream</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFB3D5CC-1B83-4675-91D8-770B0B2B7576</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88990516-33AA-49DC-8096-95883FB6BE51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C929975A-3B90-474A-BA08-595EAB51A9B2</key>
		<array/>
		<key>D75377F6-6B47-4683-B400-224620A75802</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9537F6F1-6608-4671-BE03-A3DCD23A06DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4752307-AF7E-4E47-80F9-1BB75C5CCFCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F983BA2-CA1B-4B29-A065-3DFFB531DD92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E75EF64B-CE9C-4789-8FCC-8095D43D1FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C92FF9E0-CBC7-4421-9B75-4B8C557EB4DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA8908F6-F112-4087-86D4-1B9671DD766C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>824AADC5-ECD6-4B9A-B01B-901EE6EC2552</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8F9509C-843D-40C8-B5F1-6B8FC692A18C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFB3D5CC-1B83-4675-91D8-770B0B2B7576</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98D586EA-8DD5-4EAE-8A4A-3A06AC84E9DC</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Do not mark as watched</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C929975A-3B90-474A-BA08-595EAB51A9B2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Mark as watched without playing</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D27FE458-78D9-4C16-BF89-7E489D839F6D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA9B96C8-46F8-4275-A082-2D7CFB7B7867</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D75377F6-6B47-4683-B400-224620A75802</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Play and manage local audiovisual content and streams</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WatchList</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

paths = ENV['added_item_order'] == 'append' ? ARGV.sort : ARGV.sort.reverse

paths.each do |path|
  require_audiovisual(path)

  if !ENV['move_on_add'].nil? &amp;&amp; !ENV['move_on_add'].empty?
    new_path = move_to_dir(path, File.expand_path(ENV['move_on_add']))
    add_local_to_watchlist(new_path)
  else
    add_local_to_watchlist(path)
  end
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>082FCE19-5B3C-454B-80ED-839DD28766F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>+public.audiovisual-content</string>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Add to watchlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3B8DC012-8D13-4919-8EB0-AC42C883527E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>add_file_to_watchlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>63FBFF0E-05C5-47D2-9951-CB86E114264B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

add_url_to_watchlist(ARGV[0].strip)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DBE8BF2-3AA2-46A3-A028-739C1E71A985</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>swl</string>
				<key>subtext</key>
				<string>Adds url to play media from stream</string>
				<key>text</key>
				<string>Add stream (swl)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A22F833D-4556-4FEE-8A77-EE6A6A2FE8FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>84C51977-8426-491F-A9D4-A6DF7E8F0C8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

add_url_to_watchlist(ARGV[0].strip, true)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F983BA2-CA1B-4B29-A065-3DFFB531DD92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E4752307-AF7E-4E47-80F9-1BB75C5CCFCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

play(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AFB3D5CC-1B83-4675-91D8-770B0B2B7576</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>sort_order</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>2D2C4B1F-AD23-4F61-A7B2-2122216F9F0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wlp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

display_towatch(ENV['sort_order'])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pick an item to play</string>
				<key>title</key>
				<string>Play (wlp)</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8F9509C-843D-40C8-B5F1-6B8FC692A18C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>88990516-33AA-49DC-8096-95883FB6BE51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

play(ARGV[0], false)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98D586EA-8DD5-4EAE-8A4A-3A06AC84E9DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

mark_watched(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C929975A-3B90-474A-BA08-595EAB51A9B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

update_series(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D27FE458-78D9-4C16-BF89-7E489D839F6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Best ratio first","arg":"best_ratio","subtitle":"From biggest file size to duration ratio"},{"title":"Shortest first","arg":"duration_ascending","subtitle":"From shortest duration"},{"title":"Longest first","arg":"duration_descending","subtitle":"From longest duration"},{"title":"Smallest first","arg":"size_ascending","subtitle":"From smallest file size"},{"title":"Biggest first","arg":"size_descending","subtitle":"From biggest file"}]</string>
				<key>keyword</key>
				<string>wls</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Sort by duration or file size</string>
				<key>title</key>
				<string>Pick a sort order and play (wls)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>FA9B96C8-46F8-4275-A082-2D7CFB7B7867</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>sort_order</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9537F6F1-6608-4671-BE03-A3DCD23A06DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>sort_order</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D75377F6-6B47-4683-B400-224620A75802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

edit_towatch</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D39E405-629C-4741-BBA3-D87CFC3D419A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wle</string>
				<key>subtext</key>
				<string>Reorder and rename watchlist items</string>
				<key>text</key>
				<string>Edit (wle)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68BC0595-725B-4DDD-B33F-01C3DE55A709</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wlu</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

display_watched</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pick an item to mark as unwatched</string>
				<key>title</key>
				<string>Mark unwatched (wlu)</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E75EF64B-CE9C-4789-8FCC-8095D43D1FEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/watchlist_functions.rb"

mark_unwatched(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C92FF9E0-CBC7-4421-9B75-4B8C557EB4DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DA8908F6-F112-4087-86D4-1B9671DD766C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>824AADC5-ECD6-4B9A-B01B-901EE6EC2552</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keep a list of audiovisual content to watch and listen to.
 
We often have series of videos and streams that we’d like to watch but not necessarily keep after, but tracking which we’ve already seen (and are thus safe to delete) can be a chore.
 
Select in the Finder the files or directories you wish to add to your list and apply the file action `Add to watchlist`. If the `move_on_add` Workflow Environment Variable is set, the items will be moved to that directory. Items will be prepended or appended to the list, depending on the `add_item_order` Workflow Environment Variable. Alternatively, call `swl` to add the URL in your clipboard as a stream (add ⌘ for the full playlist).

You then have some options you can pick from, all starting with `wl`.

![](https://i.imgur.com/jOKRSwY.png)

`wlp` shows the list of items you can play. A reference to each subtitle section can be found at the end.

![](https://i.imgur.com/anCe2I8.png)

`wls` calls `wlp` under the hood, but lets you first select a sort order.

![](https://i.imgur.com/SymAbSa.png)

In both cases, ↵ plays the selection. Add ⌃ to play without marking as watched or ⌥ to rescan a directory (useful if you made manual changes to it). ⌘↵ will mark as watched without playing. ⇧ or ⌘Y shows a quicklook preview on files and streams.

If the `top_on_play` Workflow Environment Variable is set to `true`, the item will be moved to the top of the list before starting playback.

Items starting with `≈` are streams. They show no file size (since they aren’t taking up any space locally) and present the link they were taken from as opposed to a location on disk. To play a stream you need [mpv](http://mpv.io/), [IINA](https://lhc70000.github.io/iina/), or [VLC](http://www.videolan.org/vlc/index.html).

An item will not be marked as watched if we can access the player’s CLI and it exits with a failure exit code.

`wlu` shows the list of watched items. The limit of recent items in this list is controlled by the `maximum_watched` Workflow Environment Variable. Action an item to mark it as unwatched. Note that in the case of files it does not recover them from the trash, as there is no reliable way to do so on macOS — that step you need to do yourself. If the item has a URL origin (you’ll see it in the subtitle) add ⌘ to open the URL in your default browser or ⌥ to copy it to the clipboard. If the item has an origin URL, ⇧ or ⌘Y shows a quicklook preview.

![](https://i.imgur.com/XK0W6Wj.png)

`wle` allows you to reorder, rename, and remove items from the list.

To keep your lists synced between machines, use the `lists_dir` Workflow Environment Variable to pick a custom save location.

Finally, if you use [DownVid](https://github.com/vitorgalvao/alfred-workflows/tree/master/DownVid) it has an option to add the downloaded video files directly to your watchlist.

#### Subtitle reference:

There are three types of items: `files`, `series`, and `streams`. `stream`s can be further categorised into single item or playlist. Each result has its name as the top title. The subtitle confers more detailed information and follows this template (`~` means it never shows):

```
≈ (4) 𐄁 22m 32s 𐄁 691M 𐄁 /Some/Path
```

+ ≈. Indicates item is a `stream`.
    + `file`: ~
    + `series`: ~
    + `stream`: Always present.
+ (4). Number of elements.
    + `file`: ~
    + `series`: Remaining audiovisual files in directory.
    + `stream`: Single item: ~. Playlist: All elements.
+ 22m 32s. Running time.
    + `file`: Running time of file.
    + `series`: Running time of first audiovisual file in directory.
    + `stream`: Combined running time of all elements.
+ 691M. Size.
    + `file`: Size of file.
    + `series`: Size of first audiovisual file in directory.
    + `stream`: ~
+ /Some/Path. Path.
    + `file`: Path of file.
    + `series`: Path of directory.
    + `stream`: URL.</string>
	<key>uidata</key>
	<dict>
		<key>082FCE19-5B3C-454B-80ED-839DD28766F3</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>1F983BA2-CA1B-4B29-A065-3DFFB531DD92</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>2D2C4B1F-AD23-4F61-A7B2-2122216F9F0F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>3B8DC012-8D13-4919-8EB0-AC42C883527E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>63FBFF0E-05C5-47D2-9951-CB86E114264B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>68BC0595-725B-4DDD-B33F-01C3DE55A709</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>6DBE8BF2-3AA2-46A3-A028-739C1E71A985</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>7D39E405-629C-4741-BBA3-D87CFC3D419A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>824AADC5-ECD6-4B9A-B01B-901EE6EC2552</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1460</integer>
		</dict>
		<key>84C51977-8426-491F-A9D4-A6DF7E8F0C8C</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>88990516-33AA-49DC-8096-95883FB6BE51</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>9537F6F1-6608-4671-BE03-A3DCD23A06DF</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>98D586EA-8DD5-4EAE-8A4A-3A06AC84E9DC</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>A22F833D-4556-4FEE-8A77-EE6A6A2FE8FE</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>AFB3D5CC-1B83-4675-91D8-770B0B2B7576</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>C929975A-3B90-474A-BA08-595EAB51A9B2</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>C92FF9E0-CBC7-4421-9B75-4B8C557EB4DD</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1220</integer>
		</dict>
		<key>D27FE458-78D9-4C16-BF89-7E489D839F6D</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>D75377F6-6B47-4683-B400-224620A75802</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>DA8908F6-F112-4087-86D4-1B9671DD766C</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>E4752307-AF7E-4E47-80F9-1BB75C5CCFCB</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>E75EF64B-CE9C-4789-8FCC-8095D43D1FEA</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1220</integer>
		</dict>
		<key>E8F9509C-843D-40C8-B5F1-6B8FC692A18C</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>FA9B96C8-46F8-4275-A082-2D7CFB7B7867</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>added_item_order</key>
		<string>append</string>
		<key>lists_dir</key>
		<string>~/Dropbox/Libraries/AlfredWorkflowsData/WatchList</string>
		<key>maximum_watched</key>
		<string>9</string>
		<key>move_on_add</key>
		<string>~/Movies</string>
		<key>top_on_play</key>
		<string>true</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>lists_dir</string>
		<string>move_on_add</string>
		<string>added_item_order</string>
	</array>
	<key>version</key>
	<string>20.9</string>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
