<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.strongpassword</string>
	<key>connections</key>
	<dict>
		<key>833B9AF0-2223-4218-84F4-75B180E64183</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Get a strong password by leveraging multiple sources</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>StrongPassword</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sp</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>cat &lt;&lt; EOF
&lt;?xml version='1.0'?&gt;&lt;items&gt;
  &lt;item uid='sp' arg='yes {query}' valid='yes'&gt;
    &lt;title&gt;StrongPassword&lt;/title&gt;
    &lt;subtitle&gt;Get a strong password (optional maximum number of characters up to 64)&lt;/subtitle&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
  &lt;item uid='spns' arg='no {query}' valid='yes'&gt;
    &lt;title&gt;StrongPassword (no special characters)&lt;/title&gt;
    &lt;subtitle&gt;Get a strong password without special characters (optional maximum number of characters up to 64)&lt;/subtitle&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;
EOF</string>
				<key>subtext</key>
				<string>Get a strong password (with optional maximum number of characters)</string>
				<key>title</key>
				<string>StrongPassword</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>833B9AF0-2223-4218-84F4-75B180E64183</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notification() {
  ./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "StrongPassword" -message "${1}"
}

IFS=' ' read special number &lt;&lt;&lt; '{query}'

[[ -z "${number}" ]] || [[ "${number}" -gt 64 ]] &amp;&amp; number='64'

ruby getPassword.rb "${special}" "${number}" | pbcopy

notification "Password copied to the clipboard (${number} characters)"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Get a strong password from https://www.grc.com/passwords.htm directly to the clipboard.

Optionally supply a max number of characters, such as
strongpassword 9</string>
	<key>uidata</key>
	<dict>
		<key>833B9AF0-2223-4218-84F4-75B180E64183</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
