<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.appfreeze</string>
	<key>connections</key>
	<dict>
		<key>391EDE9B-08C4-4B4A-A84B-8AB481A2F7B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFEB7D08-F086-4CCA-AAED-888F19EB4812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B5E21680-DC90-4677-AD06-F60A31AE9161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DD52708-CA8D-4444-9E93-254386BF04EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE15752D-DC11-4A3C-BD59-454E1EF945E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFEB7D08-F086-4CCA-AAED-888F19EB4812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2D0B64D-D1F4-4F2F-9EF3-D5544B1E22F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DD52708-CA8D-4444-9E93-254386BF04EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Pauses and resumes execution of the frontmost app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppFreeze</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>freeze</string>
				<key>subtext</key>
				<string>Pauses execution of frontmost app</string>
				<key>text</key>
				<string>Freeze</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>391EDE9B-08C4-4B4A-A84B-8AB481A2F7B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>front_app=$(osascript -e 'tell application "System Events" to return name of first process whose frontmost is true')

killall -STOP -c "${front_app}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFEB7D08-F086-4CCA-AAED-888F19EB4812</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CE15752D-DC11-4A3C-BD59-454E1EF945E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unfreeze</string>
				<key>subtext</key>
				<string>Resumes execution of frontmost app</string>
				<key>text</key>
				<string>Unfreeze</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5E21680-DC90-4677-AD06-F60A31AE9161</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>front_app=$(osascript -e 'tell application "System Events" to return name of first process whose frontmost is true')

killall -CONT -c "${front_app}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DD52708-CA8D-4444-9E93-254386BF04EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F2D0B64D-D1F4-4F2F-9EF3-D5544B1E22F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>391EDE9B-08C4-4B4A-A84B-8AB481A2F7B2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5DD52708-CA8D-4444-9E93-254386BF04EC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B5E21680-DC90-4677-AD06-F60A31AE9161</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CE15752D-DC11-4A3C-BD59-454E1EF945E5</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>F2D0B64D-D1F4-4F2F-9EF3-D5544B1E22F6</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FFEB7D08-F086-4CCA-AAED-888F19EB4812</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
