<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.temporaryemail</string>
	<key>connections</key>
	<dict>
		<key>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</key>
		<array/>
		<key>9066A3FA-E9D2-44AF-BB72-A54ABBEB3A3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Get a temporary email inbox</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TemporaryEmail</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tmpmail</string>
				<key>subtext</key>
				<string>Get a temporary email inbox</string>
				<key>text</key>
				<string>TemporaryEmail</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9066A3FA-E9D2-44AF-BB72-A54ABBEB3A3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>notification() {
  ./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "TemporaryEmail" -message "${1}"
}

argument="{query}"

if [[ "${argument}" != '' ]]; then
  argument=$(echo "${argument}" | sed 's| ||g')
  email="${argument}@harakirimail.com"
  url="https://harakirimail.com/inbox/${argument}"
else
  email=$(curl --silent 'https://harakirimail.com/' | grep 'id="randominboxLink"' | sed -E 's/.*&gt;(.*@harakirimail.com).*/\1/')
  url=$(echo -n "${email}" | sed -E 's|(.*)@.*|https://harakirimail.com/inbox/\1|')
fi

front_browser=$(osascript -e 'tell application "System Events" to return name of first process whose frontmost is true')

if [[ "${front_browser}" == "Safari" ]] || [[ "${front_browser}" == "Webkit" ]]; then
  osascript &lt;&lt;EOF
    tell application "${front_browser}"
      set tabIndex to index of current tab of front window
      open location "${url}"
      tell front window to set current tab to tab tabIndex
    end tell
EOF
elif [[ "${front_browser}" == "Google Chrome" ]] || [[ "${front_browser}" == "Google Chrome Canary" ]] || [[ "${front_browser}" == "Chromium" ]]; then
  osascript &lt;&lt;EOF
    tell application "${front_browser}"
      set tabIndex to active tab index of front window
      open location "${url}"
      set active tab index of front window to tabIndex
    end tell
EOF
else
  notification "You need a supported browser as your frontmost app"
  exit 1
fi

echo -n "${email}" | pbcopy
notification "Temporary email address copied to clipboard"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9066A3FA-E9D2-44AF-BB72-A54ABBEB3A3D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
