<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.shutdowntimer</string>
	<key>connections</key>
	<dict>
		<key>0EE73639-B1AF-4B18-95DB-E20090044D09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1129B193-5E05-4CC6-9DAD-E7FCE3D0FF6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1129B193-5E05-4CC6-9DAD-E7FCE3D0FF6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF5F7327-EC53-4722-BB26-871E82F84106</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B590FF4-BCAE-4F45-98D2-B8D4E094DBB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>115C68F5-0799-46FD-9E96-96985B766A3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A88381FF-0984-457B-9C13-35C90117D28B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45BC6562-0B8A-4748-9A1B-171DF281B58D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A88381FF-0984-457B-9C13-35C90117D28B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50EDCB2D-FFEE-416F-8020-EEC775259D5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79BA3557-2AFE-4CDC-AA57-B3A0C3150CA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>526137B8-8E71-4C07-9360-7C54BCDC4B34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>115C68F5-0799-46FD-9E96-96985B766A3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45BC6562-0B8A-4748-9A1B-171DF281B58D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79BA3557-2AFE-4CDC-AA57-B3A0C3150CA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C618DC-6A90-4473-B9E5-42280E1837A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B590FF4-BCAE-4F45-98D2-B8D4E094DBB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB3276E8-F448-4C50-B2ED-7FF6A657DE1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82D25657-0657-4718-9D31-0789F03E3434</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50EDCB2D-FFEE-416F-8020-EEC775259D5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90F960E7-121C-4B61-8615-B07F88C288D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C9E4B9-F3BE-45ED-8F14-F77167EDC517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AD48F6A-99F8-48C8-8546-A6E6BE413638</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A34D8D5E-9AEE-473C-9025-470CA1FFAC41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>526137B8-8E71-4C07-9360-7C54BCDC4B34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A39CC42A-BAFC-4D20-9A86-1F7522220BAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB3276E8-F448-4C50-B2ED-7FF6A657DE1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A88381FF-0984-457B-9C13-35C90117D28B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F536343E-1CFE-44F9-A13C-4F37AB921A50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEA182D4-C580-4423-BEAF-0632F6C0427C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9BCF706-7AEB-4F2B-A688-3FC45A0A55A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4B4C0F3-2CE5-4EBF-8791-99A54D127571</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90F960E7-121C-4B61-8615-B07F88C288D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2C618DC-6A90-4473-B9E5-42280E1837A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F536343E-1CFE-44F9-A13C-4F37AB921A50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB3276E8-F448-4C50-B2ED-7FF6A657DE1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2C9E4B9-F3BE-45ED-8F14-F77167EDC517</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82D25657-0657-4718-9D31-0789F03E3434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6320248-85C5-435A-B0F5-EA210C89BDC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF5F7327-EC53-4722-BB26-871E82F84106</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A39CC42A-BAFC-4D20-9A86-1F7522220BAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Shutdown macOS on a timer</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ShutdownTimer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A34D8D5E-9AEE-473C-9025-470CA1FFAC41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>9</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>115C68F5-0799-46FD-9E96-96985B766A3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>shutdow_timer</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F536343E-1CFE-44F9-A13C-4F37AB921A50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Timed Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9AD48F6A-99F8-48C8-8546-A6E6BE413638</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:close_apps}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Close apps</string>
						<key>uid</key>
						<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Do not close apps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>526137B8-8E71-4C07-9360-7C54BCDC4B34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:shutdown_seconds}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A88381FF-0984-457B-9C13-35C90117D28B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>45BC6562-0B8A-4748-9A1B-171DF281B58D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>82D25657-0657-4718-9D31-0789F03E3434</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>DB3276E8-F448-4C50-B2ED-7FF6A657DE1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly remaining="$(bc &lt;&lt;&lt; "${1} - ${interval_seconds}")"
[[ "${remaining}" -le 0 ]] &amp;&amp; echo -n 'shutdown' || echo -n "${remaining}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79BA3557-2AFE-4CDC-AA57-B3A0C3150CA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly abort_file='/tmp/shutdowntimer_abort'
[[ -f "${abort_file}" ]] &amp;&amp; echo -n 'abort' || echo -n "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90F960E7-121C-4B61-8615-B07F88C288D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>shutdow_timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D4B4C0F3-2CE5-4EBF-8791-99A54D127571</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>shutdown</string>
						<key>outputlabel</key>
						<string>Continue timer</string>
						<key>uid</key>
						<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Shutdown now</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F2C618DC-6A90-4473-B9E5-42280E1837A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>abort</string>
						<key>outputlabel</key>
						<string>Continue timer</string>
						<key>uid</key>
						<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Abort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F2C9E4B9-F3BE-45ED-8F14-F77167EDC517</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:interval_seconds}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>50EDCB2D-FFEE-416F-8020-EEC775259D5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly abort_file='/tmp/shutdowntimer_abort'
rm "${abort_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6320248-85C5-435A-B0F5-EA210C89BDC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>9</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>FF5F7327-EC53-4722-BB26-871E82F84106</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Immediate Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0EE73639-B1AF-4B18-95DB-E20090044D09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:close_apps}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Close apps</string>
						<key>uid</key>
						<string>B9B55F96-41C4-4AA7-AB0C-65BF3F3E48D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Do not close apps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1129B193-5E05-4CC6-9DAD-E7FCE3D0FF6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>A39CC42A-BAFC-4D20-9A86-1F7522220BAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdownabort</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Abort Timed Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BEA182D4-C580-4423-BEAF-0632F6C0427C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly abort_file='/tmp/shutdowntimer_abort'
touch "${abort_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9BCF706-7AEB-4F2B-A688-3FC45A0A55A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7B590FF4-BCAE-4F45-98D2-B8D4E094DBB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The `shutdown` Keywords give you the option for an immediate or timed shutdown of your machine.

![](https://i.imgur.com/L6rETcW.png)

When timed, the Workflow will follow the values on the Workflow Environment Variables: turn off after `shutdown_seconds` and show a Large Type of the remaining time every `interval_seconds`. Invoke `shutdownabort` to cancel.

In both cases, `close_apps` determines if apps should be terminated beforehand.</string>
	<key>uidata</key>
	<dict>
		<key>0EE73639-B1AF-4B18-95DB-E20090044D09</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>1129B193-5E05-4CC6-9DAD-E7FCE3D0FF6B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>115C68F5-0799-46FD-9E96-96985B766A3A</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>45BC6562-0B8A-4748-9A1B-171DF281B58D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>50EDCB2D-FFEE-416F-8020-EEC775259D5A</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>526137B8-8E71-4C07-9360-7C54BCDC4B34</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>79BA3557-2AFE-4CDC-AA57-B3A0C3150CA1</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>7B590FF4-BCAE-4F45-98D2-B8D4E094DBB0</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>82D25657-0657-4718-9D31-0789F03E3434</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>90F960E7-121C-4B61-8615-B07F88C288D7</key>
		<dict>
			<key>note</key>
			<string>Determine if should continue running</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>9AD48F6A-99F8-48C8-8546-A6E6BE413638</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A34D8D5E-9AEE-473C-9025-470CA1FFAC41</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>A39CC42A-BAFC-4D20-9A86-1F7522220BAF</key>
		<dict>
			<key>note</key>
			<string>Allow apps the time to close</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>A88381FF-0984-457B-9C13-35C90117D28B</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>BEA182D4-C580-4423-BEAF-0632F6C0427C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>D4B4C0F3-2CE5-4EBF-8791-99A54D127571</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>D9BCF706-7AEB-4F2B-A688-3FC45A0A55A5</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>DB3276E8-F448-4C50-B2ED-7FF6A657DE1E</key>
		<dict>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>F2C618DC-6A90-4473-B9E5-42280E1837A1</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>F2C9E4B9-F3BE-45ED-8F14-F77167EDC517</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>F536343E-1CFE-44F9-A13C-4F37AB921A50</key>
		<dict>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>F6320248-85C5-435A-B0F5-EA210C89BDC0</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>FF5F7327-EC53-4722-BB26-871E82F84106</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>close_apps</key>
		<string>true</string>
		<key>interval_seconds</key>
		<string>10</string>
		<key>shutdown_seconds</key>
		<string>60</string>
	</dict>
	<key>version</key>
	<string>20.1</string>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
