<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.pingpong</string>
	<key>connections</key>
	<dict>
		<key>01582C80-0788-4A66-AAAA-55E882F555D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF9EE662-44E3-4DCC-B78B-78D298D09741</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16DE4DAF-AD3E-4A61-A91D-9EE5379AD64A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>888760AA-73CF-48C2-B2EC-D5A451EC43D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3872A3DE-5E6A-4DF1-B4FF-16A901B31066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A404F9EE-CB02-4B46-AE2D-D0040B9F6737</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55A5D5A9-9CF8-4690-B26F-647A8E8405B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFA03B59-0513-4DF7-AD25-D567823FDDFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58DBCE64-6BAF-4F40-BF19-4497688D62E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E7FDD5A-DD40-4B4F-A380-DF5052CFEC97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>888760AA-73CF-48C2-B2EC-D5A451EC43D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3872A3DE-5E6A-4DF1-B4FF-16A901B31066</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C6FF743-1B9F-4650-BAC2-F1216BAC3E1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58DBCE64-6BAF-4F40-BF19-4497688D62E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E7FDD5A-DD40-4B4F-A380-DF5052CFEC97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF9EE662-44E3-4DCC-B78B-78D298D09741</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C6FF743-1B9F-4650-BAC2-F1216BAC3E1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55A5D5A9-9CF8-4690-B26F-647A8E8405B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A404F9EE-CB02-4B46-AE2D-D0040B9F6737</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD5B04C0-C00D-4676-9940-82F070EE6D49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD5B04C0-C00D-4676-9940-82F070EE6D49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4D4F5D9-8BAB-4493-80C5-73BF11D8F042</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>01582C80-0788-4A66-AAAA-55E882F555D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFA03B59-0513-4DF7-AD25-D567823FDDFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF9EE662-44E3-4DCC-B78B-78D298D09741</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Play a round of table tennis with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PingPong</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4D4F5D9-8BAB-4493-80C5-73BF11D8F042</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Easy","arg":"easy","subtitle":"No time limit, just play around a bit"},{"title":"Medium","arg":"medium","subtitle":"Doable, but you might reach for the shortcut keys"},{"title":"Hard","arg":"hard","subtitle":"This was supposed to be relaxing"}]</string>
				<key>keyword</key>
				<string>ping</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Play a round of table tennis with Alfred</string>
				<key>title</key>
				<string>PingPong</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BD5B04C0-C00D-4676-9940-82F070EE6D49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>play</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EF9EE662-44E3-4DCC-B78B-78D298D09741</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>new_game</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3872A3DE-5E6A-4DF1-B4FF-16A901B31066</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>difficulty</key>
					<string>{query}</string>
					<key>loop</key>
					<string>new</string>
					<key>score</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>01582C80-0788-4A66-AAAA-55E882F555D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A404F9EE-CB02-4B46-AE2D-D0040B9F6737</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>play</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>16DE4DAF-AD3E-4A61-A91D-9EE5379AD64A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>[[ "${difficulty}" == 'medium' ]] &amp;&amp; timer='2'
[[ "${difficulty}" == 'hard' ]] &amp;&amp; timer='1'

if [[ "${loop}" == 'new' ]]; then
  random_num="$(jot -r 1 1 9)"

  echo "
    &lt;?xml version='1.0'?&gt;&lt;output&gt;
      &lt;rerun&gt;${timer}&lt;/rerun&gt;
      &lt;variables&gt;
        &lt;variable name='loop'&gt;repeating&lt;/variable&gt;
      &lt;/variables&gt;
    &lt;items&gt;
  "

  for i in $(jot 9 1 9); do
    if [[ "${i}" == "${random_num}" ]]; then
      echo '&lt;item valid="yes" arg="hit"&gt;'
      echo '&lt;title&gt;Pong!&lt;/title&gt;'
    else
      echo '&lt;item valid="yes" arg="miss"&gt;'
     echo '&lt;title&gt;Miss…&lt;/title&gt;'
    fi
    echo '&lt;/item&gt;'
  done
  echo '&lt;/items&gt;&lt;/output&gt;'
else
  if [[ "${score}" -lt 1 ]]; then
    message='You completely missed the ball.'
  elif [[ "${score}" -eq 1 ]]; then
    message='You’ve smacked the ball once.'
  elif [[ "${score}" -eq 2 ]]; then
    message='You’ve smacked the ball twice.'
  elif [[ "${score}" -gt 2 ]]; then
    message="You’ve smacked the ball ${score} times!"
  else
    message='Call “ping” in Alfred, to start a game.'
  fi

  echo "
    &lt;?xml version='1.0'?&gt;&lt;items&gt;
      &lt;item valid='yes' arg='new_game'&gt;
        &lt;title&gt;${message}&lt;/title&gt;
        &lt;subtitle&gt;Play again?&lt;/subtitle&gt;
      &lt;/item&gt;
    &lt;/items&gt;
  "
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>888760AA-73CF-48C2-B2EC-D5A451EC43D5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[[ -n "${score}" ]] &amp;&amp; bc &lt;&lt;&lt; "${score} + 1" | tr -d '\n' || echo -n '1'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55A5D5A9-9CF8-4690-B26F-647A8E8405B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>loop</key>
					<string>new</string>
					<key>score</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DFA03B59-0513-4DF7-AD25-D567823FDDFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>hit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9C6FF743-1B9F-4650-BAC2-F1216BAC3E1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>loop</key>
					<string>lost</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E7FDD5A-DD40-4B4F-A380-DF5052CFEC97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>miss</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>58DBCE64-6BAF-4F40-BF19-4497688D62E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Play a round of table tennis against Alfred! Well, technically it’s more like playing against a pseudorandom number generator, but you’re doing so through Alfred.

Call `ping`, to start a game, and hit `Pong!` to continue playing.

![](https://i.imgur.com/e0l2j4B.png)
![](https://i.imgur.com/Rlkf1uA.png)

If you `Miss…`, the game is over and your score is shown.

![](https://i.imgur.com/NS5CHAn.png)

You might also want to try [TurnShoot](https://github.com/vitorgalvao/alfred-workflows/tree/master/TurnShoot), a two-player game.</string>
	<key>uidata</key>
	<dict>
		<key>01582C80-0788-4A66-AAAA-55E882F555D1</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>16DE4DAF-AD3E-4A61-A91D-9EE5379AD64A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>3872A3DE-5E6A-4DF1-B4FF-16A901B31066</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>55A5D5A9-9CF8-4690-B26F-647A8E8405B8</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>58DBCE64-6BAF-4F40-BF19-4497688D62E4</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>888760AA-73CF-48C2-B2EC-D5A451EC43D5</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>8E7FDD5A-DD40-4B4F-A380-DF5052CFEC97</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>9C6FF743-1B9F-4650-BAC2-F1216BAC3E1D</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>A404F9EE-CB02-4B46-AE2D-D0040B9F6737</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B4D4F5D9-8BAB-4493-80C5-73BF11D8F042</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>BD5B04C0-C00D-4676-9940-82F070EE6D49</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DFA03B59-0513-4DF7-AD25-D567823FDDFA</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>EF9EE662-44E3-4DCC-B78B-78D298D09741</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.3</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
