<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6A286F10-FD49-4463-9540-0EECBE45438D</key>
		<array/>
		<key>DC74421D-631A-44B1-AC86-ED7793CADE26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Downloads video from your browser's frontmost tab</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DownVid</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>IFS=$'\n'

# set notificator
notificator() {
	notificator.app/Contents/Resources/Scripts/notificator -t "DownVid" -m "${1}"
}

# update youtube-dl if it's more than 15 days old
if [[ $(find youtube-dl -mtime +15) ]]; then
	python youtube-dl --update
fi

gettitle() {
	#file location
	title=$(python youtube-dl --output "${downdir}/%(title)s.%(ext)s" --get-filename "${link}")

	# short title
	shorttitle=$(basename ${title%.*})

	# check if url is valid
	if [[ -z "${title}" ]]; then
		notificator "The url is invalid"
		exit 1
	else
		notificator "Downloading “${shorttitle}”"
	fi
}

getfile() {
	python youtube-dl --quiet --output "${downdir}/%(title)s.%(ext)s" "${link}"
}

# download
if [[ "{query}" == "addToWatchList"* ]]; then
	watchlist="${HOME}/Library/Application Support/Alfred 2/Workflow Data/com.vitorgalvao.alfred.watchlist/towatch.txt"
	link=$(cat "$(echo {query} | sed 's/addToWatchList //')")
	downdir="${HOME}/Downloads"
	gettitle
	echo "${title}" &gt;&gt; "${watchlist}"
else
	link="$(cat "{query}")"
	downdir="${HOME}/Desktop"
	gettitle
fi

getfile

notificator "Downloaded “${shorttitle}”"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dv</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string># Prepare random file
randfile="/tmp/downvid$RANDOM.tmp"
echo -n "$(pbpaste)" &gt;&gt; "${randfile}"

# Check if WatchList is being used, and show options accordingly
watchlist="${HOME}/Library/Application Support/Alfred 2/Workflow Data/com.vitorgalvao.alfred.watchlist/towatch.txt"

if [[ -f ${watchlist} ]]; then
cat &lt;&lt; EOF
&lt;?xml version='1.0'?&gt;&lt;items&gt;
	&lt;item uid='Regular Download' arg='${randfile}' valid='yes'&gt;
		&lt;title&gt;DownVid&lt;/title&gt;
		&lt;subtitle&gt;Downloads the video to your Desktop&lt;/subtitle&gt;
		&lt;icon&gt;icon.png&lt;/icon&gt;
	&lt;/item&gt;
	&lt;item uid='Download To WatchList' arg='addToWatchList ${randfile}' valid='yes'&gt;
		&lt;title&gt;DownVid + WatchList&lt;/title&gt;
		&lt;subtitle&gt;Downloads the video to ~/Downloads and adds it to your watchlist&lt;/subtitle&gt;
		&lt;icon&gt;icon.png&lt;/icon&gt;
	&lt;/item&gt;
&lt;/items&gt;
EOF
else
cat &lt;&lt; EOF
&lt;?xml version='1.0'?&gt;&lt;items&gt;
	&lt;item uid='Regular Download' arg='${randfile}' valid='yes'&gt;
		&lt;title&gt;DownVid&lt;/title&gt;
		&lt;subtitle&gt;Downloads the video to your Desktop&lt;/subtitle&gt;
		&lt;icon&gt;icon.png&lt;/icon&gt;
	&lt;/item&gt;
&lt;/items&gt;
EOF
fi</string>
				<key>subtext</key>
				<string>Download videos from popular sources (uses the URL in your clipboard)</string>
				<key>title</key>
				<string>DownVid</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC74421D-631A-44B1-AC86-ED7793CADE26</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6A286F10-FD49-4463-9540-0EECBE45438D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DC74421D-631A-44B1-AC86-ED7793CADE26</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
