<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.runcommand</string>
	<key>connections</key>
	<dict>
		<key>19CDA0AB-1F06-4A9A-B336-C04305094E51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68CC8A56-102C-4023-BE9A-596453FDDB5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C74CAA5-F3DA-4197-81A2-DD5E64E2E04C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68CC8A56-102C-4023-BE9A-596453FDDB5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F82ADA4-53CA-4378-8207-6D1AC40A0E15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B016A28-C600-4740-8FA0-87F959C452C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38368F77-4820-4A56-BE9D-8E86E4BFA929</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B1E3603-FAEB-485E-84B5-663D878E919F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA822D39-F028-468E-95AB-6BB329348CDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F728955-5237-45A7-8665-A94FC85E300E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B016A28-C600-4740-8FA0-87F959C452C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68CC8A56-102C-4023-BE9A-596453FDDB5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70D7DD2C-C248-44EB-8F75-538914807A66</key>
		<array/>
		<key>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70D7DD2C-C248-44EB-8F75-538914807A66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F728955-5237-45A7-8665-A94FC85E300E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show result on exit</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7E29D22-8238-4B15-A125-541CDB088237</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFB1DBA9-4DEB-4703-8ABD-B0B63F394D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38368F77-4820-4A56-BE9D-8E86E4BFA929</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F82ADA4-53CA-4378-8207-6D1AC40A0E15</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show result on exit</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run shell commands without opening a terminal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RunCommand</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>RunCommand</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EA822D39-F028-468E-95AB-6BB329348CDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>files_list="$(mktemp)"
perl -pe 's/[\t\n]/\0/g' &lt;&lt;&lt; "{query}" &gt; "${files_list}"

echo "${files_list}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68CC8A56-102C-4023-BE9A-596453FDDB5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Run command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1C74CAA5-F3DA-4197-81A2-DD5E64E2E04C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>files_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19CDA0AB-1F06-4A9A-B336-C04305094E51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Use `{}` for file placeholders if they’re not the last element</string>
				<key>text</key>
				<string>RunCommand</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./runcommand "${files_list}" "{query}"

# send exit status
exit_status="${?}"

if [[ "${exit_status}" -eq 0 ]]; then
  exit_sub='Success'
  exit_message='The command finished successfully.'
else
  exit_sub="${exit_status} (exit status)"
  exit_message="The command exited with an error."
fi

./Notificator.app/Contents/Resources/Scripts/notificator --message "${exit_message}" --title "${alfred_workflow_name}" --subtitle "${exit_sub}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70D7DD2C-C248-44EB-8F75-538914807A66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>RunCommand</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E7E29D22-8238-4B15-A125-541CDB088237</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1B016A28-C600-4740-8FA0-87F959C452C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./runcommand "${files_list}" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F728955-5237-45A7-8665-A94FC85E300E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B1E3603-FAEB-485E-84B5-663D878E919F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./runcommand 'run_in_dir' "{query}"

# send exit status
exit_status="${?}"

if [[ "${exit_status}" -eq 0 ]]; then
  exit_sub='Success'
  exit_message='The command finished successfully.'
else
  exit_sub="${exit_status} (exit status)"
  exit_message="The command exited with an error."
fi

./Notificator.app/Contents/Resources/Scripts/notificator --message "${exit_message}" --title "${alfred_workflow_name}" --subtitle "${exit_sub}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38368F77-4820-4A56-BE9D-8E86E4BFA929</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.</string>
				<key>subtext</key>
				<string>Run shell commands on the current Finder window</string>
				<key>text</key>
				<string>RunCommand</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFB1DBA9-4DEB-4703-8ABD-B0B63F394D35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./runcommand 'run_in_dir' "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F82ADA4-53CA-4378-8207-6D1AC40A0E15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Provides both a `File Action` to run shell commands on selected files/directories and a `Keyword` to run them on the current directory. It will detect your default shell, and if it’s `bash`, `zsh`, `tcsh`, `csh`, or `fish`, it’ll load the appropriate startup files and your aliases.
 
For the `File Action`, use Alfred to pick what you want to run a command on and choose `Run command`. Alfred’s main window will appear and you simply type the command you want.

![](https://i.imgur.com/uFwqIxg.png)
 
For the `Keyword`, type `.` followed by a command. A space between the period and the command is not necessary. This will run the command on the active Finder window (e.g. `.touch this_file`). You can also easily chain commands (`.cd Desktop &amp;&amp; rm that_file`).

![](https://i.imgur.com/RwM3Rl5.png)

For commands that would benefit from the files not being at the end (like `cp` and `mv`), you can use `{}` as a placeholder for the files. So if you select some files and want to copy them to `~/Desktop/` you’d type `cp {} ~/Desktop/`.

To get the output of a command as `Large Type`, actioning it with ⌘↵ instead of ↵.</string>
	<key>uidata</key>
	<dict>
		<key>0B1E3603-FAEB-485E-84B5-663D878E919F</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>19CDA0AB-1F06-4A9A-B336-C04305094E51</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>1B016A28-C600-4740-8FA0-87F959C452C5</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>1C74CAA5-F3DA-4197-81A2-DD5E64E2E04C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1F82ADA4-53CA-4378-8207-6D1AC40A0E15</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>38368F77-4820-4A56-BE9D-8E86E4BFA929</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>4F728955-5237-45A7-8665-A94FC85E300E</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>68CC8A56-102C-4023-BE9A-596453FDDB5C</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>70D7DD2C-C248-44EB-8F75-538914807A66</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>E7E29D22-8238-4B15-A125-541CDB088237</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>EA822D39-F028-468E-95AB-6BB329348CDE</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EFB1DBA9-4DEB-4703-8ABD-B0B63F394D35</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.12.6</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
