<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.photocoordinates</string>
	<key>connections</key>
	<dict>
		<key>4B6F8EAF-EEB4-4F5B-B631-0EE4E6423E1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4C31897-81BA-427A-94FC-5311B89CD053</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4C31897-81BA-427A-94FC-5311B89CD053</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Open image GPS coordinates in a map</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PhotoCoordinates</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Image coordinates in map</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4B6F8EAF-EEB4-4F5B-B631-0EE4E6423E1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH="$(./_sharedresources 'exiftool')"

function notification {
  ./Notificator.app/Contents/Resources/Scripts/notificator --message "${1}" --title "${alfred_workflow_name}"
}

file="${1}"

[[ "${map_provider}" == 'Google' ]] &amp;&amp; map_url='https://www.google.com/maps?q=' || map_url='http://maps.apple.com/?q='

coordinates="$(exiftool -printFormat '$gpslatitude, $gpslongitude' --printConv "${file}")"

if [[ -z "${coordinates}" ]]; then
  afplay /System/Library/Sounds/Funk.aiff
  notification 'Image has no GPS information'
else
  open "${map_url}${coordinates}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4C31897-81BA-427A-94FC-5311B89CD053</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use the `Image coordinates in map` File Action to open an image’s location in the maps provider of your choice.

![](https://i.imgur.com/wZcszDd.png)

The `map_provider` Workflow Environment Variable defaults to `Apple`, but also supports `Google`.</string>
	<key>uidata</key>
	<dict>
		<key>4B6F8EAF-EEB4-4F5B-B631-0EE4E6423E1A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B4C31897-81BA-427A-94FC-5311B89CD053</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>map_provider</key>
		<string>Apple</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
