<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.pingpong</string>
	<key>connections</key>
	<dict>
		<key>4935E4E5-9198-4348-9FC2-9333F65EB86C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6BFBD66-A039-416B-AD6D-3D70D55FC2F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>56BA617E-2DE5-4D64-8C30-D0FD4844DE6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6BFBD66-A039-416B-AD6D-3D70D55FC2F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Play a round of table tennis with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PingPong</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>scoreFile="/tmp/pingpongscore"
if [[ ! -f "${scoreFile}" ]]; then
	echo -n "-1" &gt; "${scoreFile}"
fi

if [[ "{query}" == "miss" ]]; then
	osascript -e "tell application \"Alfred 2\" to search \"scorepingpong\""
else
	score=$[$(cat "${scoreFile}") + 1]
	echo "${score}" &gt; "${scoreFile}"

	difficulty() {
		sleep "$1"
		osascript -e "tell application \"Alfred 2\" to search \"scorepingpong\""
	}

	if [[ "{query}" == "medium" ]]; then
		difficulty 2 &amp;
	elif [[ "{query}" == "hard" ]]; then
		difficulty 1 &amp;
	fi

	osascript -e "tell application \"Alfred 2\" to search \"pong {query}\""
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6BFBD66-A039-416B-AD6D-3D70D55FC2F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ping</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>scoreFile="/tmp/pingpongscore"
if [[ -f "${scoreFile}" ]]; then
	rm "${scoreFile}"
fi

cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item uid='easy' valid='yes' arg='easy'&gt;
	    &lt;title&gt;Easy&lt;/title&gt;
	    &lt;subtitle&gt;No time limit, just play around a bit&lt;/subtitle&gt;
	    &lt;icon&gt;icon.png&lt;/icon&gt;
	  &lt;/item&gt;
	  &lt;item uid='medium' valid='yes' arg='medium'&gt;
	    &lt;title&gt;Medium&lt;/title&gt;
	    &lt;subtitle&gt;Doable, but you might reach for the shortcut keys&lt;/subtitle&gt;
	    &lt;icon&gt;icon.png&lt;/icon&gt;
	  &lt;/item&gt;
	  &lt;item uid='hard' valid='yes' arg='hard'&gt;
	    &lt;title&gt;Hard&lt;/title&gt;
	    &lt;subtitle&gt;This was supposed to be relaxing&lt;/subtitle&gt;
	    &lt;icon&gt;icon.png&lt;/icon&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF</string>
				<key>subtext</key>
				<string>Play a round of table tennis with Alfred</string>
				<key>title</key>
				<string>PingPong</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56BA617E-2DE5-4D64-8C30-D0FD4844DE6C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pong</string>
				<key>runningsubtext</key>
				<string>Please wait… Ping!</string>
				<key>script</key>
				<string>echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
randomNum="$(grep -m1 -ao '[1-9]' /dev/urandom | head -1)"
for (( i = 1; i &lt;= 9; i++ )); do
	if [[ "${i}" == "${randomNum}" ]]; then
		smack="Pong!"
		echo "&lt;item uuid='Smack' valid='yes' arg='{query}'&gt;"
	else
		smack="Miss!"
		echo "&lt;item uuid='Smack' valid='yes' arg='miss'&gt;"
	fi
	echo "&lt;item uid='Smack' valid='yes' arg='miss'&gt;"
	echo "&lt;title&gt;${smack}&lt;/title&gt;"
	echo "&lt;icon&gt;icon.png&lt;/icon&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>You need to call “ping” to start a game</string>
				<key>title</key>
				<string>PingPong</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4935E4E5-9198-4348-9FC2-9333F65EB86C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>scorepingpong</string>
				<key>runningsubtext</key>
				<string>Your score is…</string>
				<key>script</key>
				<string>scoreFile="/tmp/pingpongscore"
score=$(cat "${scoreFile}")

if [[ "${score}" == "0" ]]; then
	message="Try again."
elif [[ "${score}" == "1" ]]; then
	message="You’ve smacked the ball once."
elif [[ "${score}" &gt; "1" ]]; then
	message="You’ve smacked the ball ${score} times."
else
	message="Call “ping” in Alfred, to start a game."
fi

cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item uuid='Score' valid='no'&gt;
	    &lt;title&gt;PingPong score&lt;/title&gt;
	    &lt;subtitle&gt;${message}&lt;/subtitle&gt;
	    &lt;icon&gt;icon.png&lt;/icon&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF</string>
				<key>subtext</key>
				<string>Shows how many time you’ve responded</string>
				<key>title</key>
				<string>PingPong score</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60116713-040A-484C-8D7F-869093CFE306</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4935E4E5-9198-4348-9FC2-9333F65EB86C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>56BA617E-2DE5-4D64-8C30-D0FD4844DE6C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>60116713-040A-484C-8D7F-869093CFE306</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A6BFBD66-A039-416B-AD6D-3D70D55FC2F0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
