<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.mediasurgeon</string>
	<key>connections</key>
	<dict>
		<key>01525E23-8943-4590-AF7C-201C88C65D50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70654227-242C-42D7-B8FC-7C8C2E403F9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A2B30BC-BA2A-47E6-A781-8C48BB0F772B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C84D095C-2157-4B07-AC31-965FF40C20CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70654227-242C-42D7-B8FC-7C8C2E403F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D98517C0-CF26-4BB6-A481-3F00784C6108</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6A4A404-DDF4-4AA7-9A3D-DE520F082F14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01525E23-8943-4590-AF7C-201C88C65D50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Perform operations on media</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>_MediaSurgeon</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Remove image data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>0A2B30BC-BA2A-47E6-A781-8C48BB0F772B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH="$(./_sharedresources 'exiftool')"

xattr -c "${@}"
exiftool -overwrite_original_in_place -all= -tagsfromfile @ -Orientation "${@}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C84D095C-2157-4B07-AC31-965FF40C20CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Resize image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B6A4A404-DDF4-4AA7-9A3D-DE520F082F14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>What’s the maximum lenght of the longest side?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70654227-242C-42D7-B8FC-7C8C2E403F9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>IFS=$'\t' read -ra files &lt;&lt;&lt; "${file_list}"

sips --resampleHeightWidthMax "${1}" "${files[@]}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D98517C0-CF26-4BB6-A481-3F00784C6108</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>01525E23-8943-4590-AF7C-201C88C65D50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01525E23-8943-4590-AF7C-201C88C65D50</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>0A2B30BC-BA2A-47E6-A781-8C48BB0F772B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>70654227-242C-42D7-B8FC-7C8C2E403F9C</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B6A4A404-DDF4-4AA7-9A3D-DE520F082F14</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C84D095C-2157-4B07-AC31-965FF40C20CF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D98517C0-CF26-4BB6-A481-3F00784C6108</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
