<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.vitorgalvao.launchd.recentdownloadscacheadded</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/bin/osascript</string>
                <string>-e</string>
                <string>tell application id "com.runningwithcrayons.Alfred" to run trigger "rebuild_added_cache" in workflow "com.vitorgalvao.alfred.recentdownloads"</string>
        </array>
        <key>WatchPaths</key>
        <array>
                <string>DOWNLOADS_DIR</string>
        </array>
</dict>
</plist>
