<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.rightclick</string>
	<key>connections</key>
	<dict>
		<key>A73E4A13-FA16-4A7D-A9F5-40A4C5B2B0B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FAB5CB3-A7E7-490C-A76D-CFEE439F8072</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Do a right-click on Finder files, with the keyboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RightClick</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A73E4A13-FA16-4A7D-A9F5-40A4C5B2B0B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "System Events" to set frontApp to name of first process whose frontmost is true

tell application "System Events"
	tell application process frontApp
		set _selection to value of attribute "AXFocusedUIElement"
		tell _selection to perform action "AXShowMenu"
	end tell
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2FAB5CB3-A7E7-490C-A76D-CFEE439F8072</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2FAB5CB3-A7E7-490C-A76D-CFEE439F8072</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A73E4A13-FA16-4A7D-A9F5-40A4C5B2B0B0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
