<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.commandrun</string>
	<key>connections</key>
	<dict>
		<key>B150DD10-F66D-484C-8BE3-F0A72796287A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B7175A0-D05A-47A1-AC4E-512C0932DDBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C6A6A418-2959-44A8-836B-B5758CFF08C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B150DD10-F66D-484C-8BE3-F0A72796287A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run terminal commands without opening one, on the current Finder window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CommandRun</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CommandRun</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B7175A0-D05A-47A1-AC4E-512C0932DDBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>dirPath=$(osascript -e 'tell application "Finder" to return (quoted form of POSIX path of (insertion location as alias))')

echo "cd ${dirPath}
{query}" &gt; /tmp/commandrun

chmod +x /tmp/commandrun

if [[ $SHELL == *'bash' ]]; then
	source ${HOME}/.bash_profile
	source ${HOME}/.profile
	source ${HOME}/.bashrc
	$SHELL /tmp/commandrun
elif [[ $SHELL == *'zsh' ]]; then
	source /etc/zshenv
	source ${HOME}/.zshenv
	source ${HOME}/.zshrc
	$SHELL /tmp/commandrun
elif [[ $SHELL == *'csh' ]]; then
	source /etc/csh.cshrc
	source ${HOME}/.cshrc
	$SHELL /tmp/commandrun
elif [[ $SHELL == *'tcsh' ]]; then
	source /etc/csh.cshrc
	source ${HOME}/.tcshrc
	$SHELL /tmp/commandrun
fi

rm /tmp/commandrun</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B150DD10-F66D-484C-8BE3-F0A72796287A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.</string>
				<key>subtext</key>
				<string>Run terminal commands without opening one, on the current Finder window</string>
				<key>text</key>
				<string>CommandRun</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C6A6A418-2959-44A8-836B-B5758CFF08C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3B7175A0-D05A-47A1-AC4E-512C0932DDBC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B150DD10-F66D-484C-8BE3-F0A72796287A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C6A6A418-2959-44A8-836B-B5758CFF08C9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
