<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.alfredbookmarklet</string>
	<key>connections</key>
	<dict>
		<key>082A3A21-88BB-48A6-B6B7-CF89A9180213</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D561ED-20E4-4BC8-84E9-E418B0507198</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9634EAF-B370-4A51-ABF2-C466A4916F83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D561ED-20E4-4BC8-84E9-E418B0507198</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9634EAF-B370-4A51-ABF2-C466A4916F83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C75A1F57-4590-4C88-A924-E9BB8E239BA7</key>
		<array/>
		<key>E1D561ED-20E4-4BC8-84E9-E418B0507198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Use a browser bookmarklet via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredBookmarklet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>const bookmarklet_code="{query}"
const frontmost_app_name = Application('System Events').applicationProcesses.where({ frontmost: true }).name()[0]
const frontmost_app = Application(frontmost_app_name)

const chromium_variants = ['Google Chrome', 'Chromium', 'Opera', 'Vivaldi', 'Brave Browser', 'Microsoft Edge']
const webkit_variants = ['Safari', 'Webkit']

if (chromium_variants.some(app_name =&gt; frontmost_app_name.startsWith(app_name))) {
  frontmost_app.windows[0].activeTab.url = 'javascript:' + bookmarklet_code
} else if (webkit_variants.some(app_name =&gt; frontmost_app_name.startsWith(app_name))) {
  frontmost_app.doJavaScript(bookmarklet_code, { in: frontmost_app.documents[0] })
} else {
  throw new Error('You need a supported browser as your frontmost app')
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>&lt;keyword_here&gt;</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E1D561ED-20E4-4BC8-84E9-E418B0507198</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>082A3A21-88BB-48A6-B6B7-CF89A9180213</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:cleanbookmarkletcode</string>
				<key>subtext</key>
				<string>Copy the bookmarklet to the clipboard and run this</string>
				<key>text</key>
				<string>Cleans bookmarklet code</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require 'open3'
require 'uri'

original_bookmarklet = Open3.capture2('pbpaste').first.strip
bookmarklet = URI.unescape(original_bookmarklet).sub(%r{^javascript:}, '')

print bookmarklet</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9634EAF-B370-4A51-ABF2-C466A4916F83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run browser [bookmarklets](http://en.wikipedia.org/wiki/Bookmarklet) from Alfred, without needing to having them installed in the browser itself.

Note that you may need to `Allow JavaScript from Apple Events` in your Browser.

#### 1

For the first step, get this template workflow itself. Though this is not strictly necessary (you can build it yourself) it serves as a starting point with most of the work already done. Proceed to open the workflow in Alfred.

Next, get a browser bookmarklet to convert by copying its link address.

![](https://i.imgur.com/dJ5XgkB.gif)

#### 2 

Run `:cleanbookmarkletcode` to clean the code in your clipboard. It performs substitutions necessary to avoid problems when pasting the code in the next step.

![](https://i.imgur.com/oIDEVcd.png)

#### 3

Open the `Arg and Vars` node and paste the code.

![](https://i.imgur.com/9SPYkmM.gif)

### Extra

If you’re not new to Alfred, you likely won’t need these steps as you’ll know what to do.

#### 4

The template includes both a `Keyword` and a `Hotkey` nodes to run the code. You can delete either one by clicking on it and pressing ⌫.

![](https://i.imgur.com/PRpCHu3.gif)

#### 5

If you choose to use the workflow via `Keyword`, do not forget to set it up.

![](https://i.imgur.com/ENFYAAe.gif)

#### 6

Lastly, edit the workflow’s details and its icon. For completeness it’s pre-filled with my details. Feel free to edit them.

![](https://i.imgur.com/KxIFI2A.png)</string>
	<key>uidata</key>
	<dict>
		<key>082A3A21-88BB-48A6-B6B7-CF89A9180213</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B9634EAF-B370-4A51-ABF2-C466A4916F83</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>C75A1F57-4590-4C88-A924-E9BB8E239BA7</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E1D561ED-20E4-4BC8-84E9-E418B0507198</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>20.1</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
