<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.alfredbookmarklet</string>
	<key>connections</key>
	<dict>
		<key>082A3A21-88BB-48A6-B6B7-CF89A9180213</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9634EAF-B370-4A51-ABF2-C466A4916F83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9634EAF-B370-4A51-ABF2-C466A4916F83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C75A1F57-4590-4C88-A924-E9BB8E239BA7</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Use a browser bookmarklet via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredBookmarklet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Google Chrome" to tell active tab of front window to set the URL to "&lt;bookmarklet_code_here&gt;"

tell application "Safari" to set the URL of the front document to "&lt;bookmarklet_code_here&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>&lt;keyword_here&gt;</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>082A3A21-88BB-48A6-B6B7-CF89A9180213</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:cleanbookmarkletcode</string>
				<key>subtext</key>
				<string>Copy the bookmarklet to the clipboard, and run this</string>
				<key>text</key>
				<string>Cleans bookmarklet code</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require 'uri'

original_bookmarklet = %x{ pbpaste }
bookmarklet = URI.unescape(original_bookmarklet).gsub('"', "'")

print bookmarklet</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9634EAF-B370-4A51-ABF2-C466A4916F83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run browser [bookmarklets](http://en.wikipedia.org/wiki/Bookmarklet) from Alfred, without needing to having them installed in the browser itself.

#### 1

For the first step, get this template workflow itself. Though this is not strictly necessary (you can build it yourself), it serves as a just starting point with most of the work already done. Proceed to open the workflow in Alfred.

Then get a browser bookmarklet to convert. In this example I use [squirt](http://squirt.io/). Go to the page that allows you to install the bookmaklet, and instead of adding it to your bookmarks bar, copy its link address.

![](http://i.imgur.com/jIbbOhq.gif)

#### 2 

The next step may or may not be needed, depending on if the bookmarklet’s code has any double quotes (`"`) or is url encoded. In doubt, do it. Run `:cleanbookmarkletcode` to clean the code in your clipboard.

![](https://i.imgur.com/AQLlczy.png)

These substitutions are necessary to avoid problems when pasting the code in the top `Run Script` node.

#### 3

On to pasting the code. Open the top `Run Script` node, remove the line for the browser you do not want, and paste the bookmarklet’s code in place of the `&lt;bookmarklet_code_here&gt;` text (leave the quotes).

![](http://i.imgur.com/4tOY0OI.gif)

### Extra

If you’re not new to Alfred, you likely won’t need these steps, as you’ll probably know what to do.

#### 4

The template incudes both a `Keyword` and a `Hotkey` nodes to call the code. You can delete either one simply by clicking on it and pressing ⌫.

![](http://i.imgur.com/aDtale9.gif)

#### 5

If you choose to use the workflow via `Keyword`, do not forget to set it up with descriptions relevant to your bookmarklet.

![](http://i.imgur.com/Mdbl2Yy.gif)

#### 6

Lastly, edit the workflow’s details, and possibly its icon. I’ve pre-filled some of the information with my details, for completeness. Feel free to edit them, though.

![](http://i.imgur.com/xWSuaFG.png)


**Note on browsers:** This currently works with Safari and Chrome. Webkit, Chromium, and Google Chrome Canary use the same code, you need just change the name where appropriate (Webkit is the same as Safari, the others the same as Chrome). Other browsers generally have poor (or no) applescript support (needed for this), or require some options to be set in the browser itself.

**Note on instructions:** If you find subtle differences between the gifs and the actual workflow, that just means the workflow has been updated since but not the gifs (since they’re a bit time consuming), but the process is identical. If a workflow change drastically outdates the instructions (meaning they won’t be immediately perceptible) I’ll update the corresponding gifs.</string>
	<key>uidata</key>
	<dict>
		<key>082A3A21-88BB-48A6-B6B7-CF89A9180213</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B9634EAF-B370-4A51-ABF2-C466A4916F83</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>C75A1F57-4590-4C88-A924-E9BB8E239BA7</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
