<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.synant</string>
	<key>connections</key>
	<dict>
		<key>26FFC902-DE74-4699-BD9A-8E47ED317DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5363CECD-38A0-428F-A9D7-F323B233C752</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3562E2E1-564F-445C-8C3A-1E2A36AAB395</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9F118FC-4049-4A0C-B0B4-9DFAAD8F5AA5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Synonyms for this word</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>55ECFD0B-81BA-4D8A-9C58-61C05F3BB52E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Antonyms for this word</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26FFC902-DE74-4699-BD9A-8E47ED317DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E7EF124-9F03-4CE3-AEBC-A8F24D19097E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3562E2E1-564F-445C-8C3A-1E2A36AAB395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C7B8385-B11B-4294-89BB-986FD67891EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9F118FC-4049-4A0C-B0B4-9DFAAD8F5AA5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Synonyms for this word</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>55ECFD0B-81BA-4D8A-9C58-61C05F3BB52E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Antonyms for this word</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26FFC902-DE74-4699-BD9A-8E47ED317DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6273EB9-A204-47C0-BCB6-45A2FE1D7AE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C7B8385-B11B-4294-89BB-986FD67891EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E774F2C5-99EF-41A4-900D-F99BE0521498</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3562E2E1-564F-445C-8C3A-1E2A36AAB395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6C39A78-AA32-4134-9D14-928C4A71F40D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C7B8385-B11B-4294-89BB-986FD67891EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Substitute words by checking against a thesaurs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SynAnt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E774F2C5-99EF-41A4-900D-F99BE0521498</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>synonym</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E9F118FC-4049-4A0C-B0B4-9DFAAD8F5AA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>syn</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>IFS=$'\n'

if [[ -z "${api_key}" ]] ; then
cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item valid='no'&gt;
	    &lt;title&gt;Your account is not yet configured&lt;/title&gt;
	    &lt;subtitle&gt;You need to set the API key in the workflow’s settings&lt;/subtitle&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF
fi

words="$(curl http://words.bighugelabs.com/api/2/${api_key}/{query}/ | grep '|syn|')"

if [[ -z "${words}" ]]; then
cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item valid='no'&gt;
	    &lt;title&gt;No synonyms found for “{query}”&lt;/title&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF
else
echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for item in $(echo "${words}"); do
	type="$(echo "${item}" | cut -d '|' -f 1)"
	word="$(echo "${item}" | cut -d '|' -f 3)"
	echo "&lt;item arg='${word}' valid='yes'&gt;"
	echo "&lt;title&gt;${word}&lt;/title&gt;"
	echo "&lt;subtitle&gt;${type}&lt;/subtitle&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type a word to get synonyms</string>
				<key>title</key>
				<string>SynAnt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3562E2E1-564F-445C-8C3A-1E2A36AAB395</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F6C39A78-AA32-4134-9D14-928C4A71F40D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ant</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>IFS=$'\n'

if [[ -z "${api_key}" ]] ; then
cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item valid='no'&gt;
	    &lt;title&gt;Your account is not yet configured&lt;/title&gt;
	    &lt;subtitle&gt;You need to set the API key in the workflow’s settings&lt;/subtitle&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF
fi

words="$(curl http://words.bighugelabs.com/api/2/${api_key}/{query}/ | grep '|ant|')"

if [[ -z "${words}" ]]; then
cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item valid='no'&gt;
	    &lt;title&gt;No antonyms found for “{query}”&lt;/title&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF
else
echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for item in $(echo "${words}"); do
	type="$(echo "${item}" | cut -d '|' -f 1)"
	word="$(echo "${item}" | cut -d '|' -f 3)"
	echo "&lt;item arg='${word}' valid='yes'&gt;"
	echo "&lt;title&gt;${word}&lt;/title&gt;"
	echo "&lt;subtitle&gt;${type}&lt;/subtitle&gt;"
	echo "&lt;/item&gt;"
done
echo "&lt;/items&gt;"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type a word to get antonyms</string>
				<key>title</key>
				<string>SynAnt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C7B8385-B11B-4294-89BB-986FD67891EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>antonym</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>55ECFD0B-81BA-4D8A-9C58-61C05F3BB52E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>synonym</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3E7EF124-9F03-4CE3-AEBC-A8F24D19097E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>26FFC902-DE74-4699-BD9A-8E47ED317DA2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5363CECD-38A0-428F-A9D7-F323B233C752</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>antonym</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B6273EB9-A204-47C0-BCB6-45A2FE1D7AE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use the thesaurus service provided by words.bighugelabs.com to get synonyms and antonyms to words.

To set up, [get an API key](https://words.bighugelabs.com/getkey.php) and set it in the Workflow Environment Variables.

You can then check for synonyms and antonyms by calling `syn` or `ant` followed by a space and the word you wish to check against.

![](https://i.imgur.com/1p2T6uZ.png)
![](https://i.imgur.com/p5CsiB8.png)

Alternatively, select a word and press the shortcut you defined to get the results. Pressing ↵ on a word will paste it to the front most app, which is useful when writing a text and want to change a word in place.

If you want to use one of the results to refine your query, press ⌘↵ (synonyms for the word) or ⌥↵ (antonyms for the word).</string>
	<key>uidata</key>
	<dict>
		<key>26FFC902-DE74-4699-BD9A-8E47ED317DA2</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>3562E2E1-564F-445C-8C3A-1E2A36AAB395</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3E7EF124-9F03-4CE3-AEBC-A8F24D19097E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>5363CECD-38A0-428F-A9D7-F323B233C752</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>55ECFD0B-81BA-4D8A-9C58-61C05F3BB52E</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>8C7B8385-B11B-4294-89BB-986FD67891EC</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>B6273EB9-A204-47C0-BCB6-45A2FE1D7AE8</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>E774F2C5-99EF-41A4-900D-F99BE0521498</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E9F118FC-4049-4A0C-B0B4-9DFAAD8F5AA5</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F6C39A78-AA32-4134-9D14-928C4A71F40D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>api_key</key>
		<string>62559239f84ea22b42a236d66404c6fc</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>api_key</string>
	</array>
	<key>version</key>
	<string>1.3.2</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
