<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.recommendationnation</string>
	<key>connections</key>
	<dict>
		<key>04AD2E9D-6BDB-4879-9E10-262543D5A318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>329F9C98-5F56-4D30-AC13-770AF9675893</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1084E76E-1985-402B-847F-CF68757DEBD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB7CDD15-14F5-4AEB-AF18-E8E4DFB5868B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FF20159-10F8-4A6C-8821-613488BEE54F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4DE1682-A76D-4656-BDC9-C10BC4CF952E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>329F9C98-5F56-4D30-AC13-770AF9675893</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34B0C8DE-B773-491D-B7BF-588F06D32A46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AEB167B-1A69-4DF0-83AD-82DD71DF833D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F83FE6A8-9603-4F47-A66A-FA39AB330AC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62BD5879-500B-47BB-8E34-D89ACBC573D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1B92374-D5FB-40A4-8E11-90103AC80298</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AEB167B-1A69-4DF0-83AD-82DD71DF833D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9C3ECF-4AC2-4B27-8734-33DF94E244C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACB38689-A9FA-4A36-AAE8-5C3F04D717FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEE116C1-581A-4AA5-8422-ABE96BEFE9D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2257A6A6-DA8F-48A1-B6E0-7652D5FE4E27</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open and delete recommendation.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5129CE8D-104C-4235-918F-C0F2993FA2A8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open with generic search.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>273E24F5-5783-4EAA-965E-35A00995E444</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete recommendation.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0F8DA59-7ABE-478A-843E-93D6515CE5B7</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Send to top.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEE116C1-581A-4AA5-8422-ABE96BEFE9D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A708A54-E539-4ACC-B179-20538370C1C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1B92374-D5FB-40A4-8E11-90103AC80298</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62BD5879-500B-47BB-8E34-D89ACBC573D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB7CDD15-14F5-4AEB-AF18-E8E4DFB5868B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FF20159-10F8-4A6C-8821-613488BEE54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F83FE6A8-9603-4F47-A66A-FA39AB330AC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A708A54-E539-4ACC-B179-20538370C1C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAC71A36-9691-46D7-9E1D-D055F4E26EB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1084E76E-1985-402B-847F-CF68757DEBD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD9C3ECF-4AC2-4B27-8734-33DF94E244C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04AD2E9D-6BDB-4879-9E10-262543D5A318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E3B0541E-4650-43E5-B1DB-7BCD7777AB0D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ACB38689-A9FA-4A36-AAE8-5C3F04D717FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3AD294A5-2731-4CFA-9A95-EC222F22F9CC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9219E3AB-C3C5-4EFB-9660-980766DEABEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A59777CA-F7F8-4D4F-812E-70200605FAEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FAC71A36-9691-46D7-9E1D-D055F4E26EB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Keep a contextual list of recommendations</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RecommendationNation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>What is it called?</string>
				<key>text</key>
				<string>Title</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Add recommendation","arg":"add"},{"title":"View recommendations","arg":"view"},{"title":"Edit recommendations","arg":"edit"},{"title":"Change default sites","arg":"change","subtitle":""}]</string>
				<key>keyword</key>
				<string>rec</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>34B0C8DE-B773-491D-B7BF-588F06D32A46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>What made it stand out?</string>
				<key>text</key>
				<string>Reason</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

add_line(Recommendations_File, ENV['type'], ENV['title'], ENV['person'], ENV['reason'])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F83FE6A8-9603-4F47-A66A-FA39AB330AC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Who recommended it?</string>
				<key>text</key>
				<string>Recommender</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1B92374-D5FB-40A4-8E11-90103AC80298</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting recommendations</string>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

show_types(Sites)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>04AD2E9D-6BDB-4879-9E10-262543D5A318</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>E3B0541E-4650-43E5-B1DB-7BCD7777AB0D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>view</string>
						<key>outputlabel</key>
						<string>View</string>
						<key>uid</key>
						<string>3AD294A5-2731-4CFA-9A95-EC222F22F9CC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>edit</string>
						<key>outputlabel</key>
						<string>Edit</string>
						<key>uid</key>
						<string>A59777CA-F7F8-4D4F-812E-70200605FAEF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Change</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FD9C3ECF-4AC2-4B27-8734-33DF94E244C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8AEB167B-1A69-4DF0-83AD-82DD71DF833D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>person</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>329F9C98-5F56-4D30-AC13-770AF9675893</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>reason</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>62BD5879-500B-47BB-8E34-D89ACBC573D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

open_site(Recommendations_File, Sites, ARGV[0].to_i)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEE116C1-581A-4AA5-8422-ABE96BEFE9D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting recommendations</string>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

show_recommendations(Recommendations_File)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ACB38689-A9FA-4A36-AAE8-5C3F04D717FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A708A54-E539-4ACC-B179-20538370C1C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

edit_list(Recommendations_File)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9219E3AB-C3C5-4EFB-9660-980766DEABEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

open_site(Recommendations_File, Sites, ARGV[0].to_i)
delete_line(Recommendations_File, ARGV[0].to_i)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2257A6A6-DA8F-48A1-B6E0-7652D5FE4E27</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

open_site(Recommendations_File, Sites, ARGV[0].to_i, true)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5129CE8D-104C-4235-918F-C0F2993FA2A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

delete_line(Recommendations_File, ARGV[0].to_i)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>273E24F5-5783-4EAA-965E-35A00995E444</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

move_to_top(Recommendations_File, ARGV[0].to_i)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0F8DA59-7ABE-478A-843E-93D6515CE5B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');

Application('com.runningwithcrayons.Alfred').setConfiguration($.getenv('type') + '_site', {
  toValue: $.getenv('site'),
  inWorkflow: $.getenv('alfred_workflow_bundleid')
});</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4DE1682-A76D-4656-BDC9-C10BC4CF952E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting recommendations</string>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

show_type_sites(Sites, ENV['type'])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB7CDD15-14F5-4AEB-AF18-E8E4DFB5868B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting recommendations</string>
				<key>script</key>
				<string>require_relative File.join(Dir.pwd, 'recommendationnation.rb')

show_types(Sites)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FAC71A36-9691-46D7-9E1D-D055F4E26EB8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>site</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1FF20159-10F8-4A6C-8821-613488BEE54F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1084E76E-1985-402B-847F-CF68757DEBD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A list of movies to watch or books to read becomes less useful as it grows. Eventually you forget why you added an item, meaning you no longer know if it’s no longer relevant or the one you should prioritise. `RecommendationNation` aims to mitigate that problem by saving the “why” together with the “what”.

All commands are accessed via the keyword `rec`.

![](https://i.imgur.com/0wKPqgv.png)

`Add recommendation` will walk you through the process of adding a new item. “Reason” is optional.

![](https://i.imgur.com/Ul4Zv0m.gif)

`View recommendations` shows everything you’ve saved. ↵ on an item searches for it on a relevant website. For example, by default film recommendations open on [IMDB](https://www.imdb.com/), while book recommendations will open on [Goodreads](https://www.goodreads.com/).

![](https://i.imgur.com/jf7Q4rY.png)

Several other options are available. ⌘↵ opens on a relevant site and deletes the recommendation from the list; ⌥↵ opens on a generic search site; ⌃↵ deletes the recommendation; ⇧↵ sends it to the top of the list.

`Edit recommendations` opens the list on your default text editor.

`Change default sites` allows you to pick different websites as your source for viewing the recommendations on the web. As an example, the choices for the “Film” category:

![](https://i.imgur.com/2XHlm8E.png)

Your picks will modify the Workflow itself and be accessible via Workflow Environment Variables, meaning you’re not limited to the included choices. If there’s a website you believe I should add, do let me know.

To keep your list synced between machines, use the `recs_dir` Workflow Environment Variable to pick a custom save location.</string>
	<key>uidata</key>
	<dict>
		<key>04AD2E9D-6BDB-4879-9E10-262543D5A318</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>0A708A54-E539-4ACC-B179-20538370C1C6</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>1480</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>1084E76E-1985-402B-847F-CF68757DEBD8</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>1FF20159-10F8-4A6C-8821-613488BEE54F</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>2257A6A6-DA8F-48A1-B6E0-7652D5FE4E27</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>273E24F5-5783-4EAA-965E-35A00995E444</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>329F9C98-5F56-4D30-AC13-770AF9675893</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>34B0C8DE-B773-491D-B7BF-588F06D32A46</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</key>
		<dict>
			<key>xpos</key>
			<integer>1235</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5129CE8D-104C-4235-918F-C0F2993FA2A8</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>62BD5879-500B-47BB-8E34-D89ACBC573D2</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</key>
		<dict>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8AEB167B-1A69-4DF0-83AD-82DD71DF833D</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</key>
		<dict>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>9219E3AB-C3C5-4EFB-9660-980766DEABEC</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>ACB38689-A9FA-4A36-AAE8-5C3F04D717FA</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>BEE116C1-581A-4AA5-8422-ABE96BEFE9D1</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C1B92374-D5FB-40A4-8E11-90103AC80298</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>DB7CDD15-14F5-4AEB-AF18-E8E4DFB5868B</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>F0F8DA59-7ABE-478A-843E-93D6515CE5B7</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>F4DE1682-A76D-4656-BDC9-C10BC4CF952E</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>F83FE6A8-9603-4F47-A66A-FA39AB330AC5</key>
		<dict>
			<key>xpos</key>
			<integer>1300</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FAC71A36-9691-46D7-9E1D-D055F4E26EB8</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>FD9C3ECF-4AC2-4B27-8734-33DF94E244C2</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>recs_dir</key>
		<string>~/Dropbox/Libraries/AlfredWorkflowsData/RecommendationNation</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>recs_dir</string>
	</array>
	<key>version</key>
	<string>20.1</string>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
