<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.newpath</string>
	<key>connections</key>
	<dict>
		<key>014F6165-D784-4ADA-83CB-43CF6EF9B6E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6E51C83-BFBF-456C-8778-9D6F8B2B9698</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>137E4749-7D83-426A-A8C4-AB736358775E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9954B863-DC31-488D-8184-2568AC55AE82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>159C892C-B83B-4701-B549-907DE7F24ADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A6A9B76-F8E1-4A60-859F-A89E81E11DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22E5ACE0-2434-43F3-A5AA-F146F8B1C17A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35EBE57E-7577-4617-8947-78FA388651B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35EBE57E-7577-4617-8947-78FA388651B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFABBFF-CA31-4D8F-B0BA-988B14A2803F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49C585AB-E68C-4B91-ABF2-451B63F4BBED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A6A9B76-F8E1-4A60-859F-A89E81E11DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A6A9B76-F8E1-4A60-859F-A89E81E11DE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84205844-F07F-4447-BA04-0835ECDC517B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B71494D3-BC23-4156-947A-05F7140CEB6B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DFABBFF-CA31-4D8F-B0BA-988B14A2803F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53EFB7FF-B6D9-431E-83A1-9D81CFADA966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53EFB7FF-B6D9-431E-83A1-9D81CFADA966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>014F6165-D784-4ADA-83CB-43CF6EF9B6E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5627883C-8996-495B-9FCB-4C76F7784ACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B53BB7F7-3EBA-4B88-98B4-0280DF11618C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9954B863-DC31-488D-8184-2568AC55AE82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35EBE57E-7577-4617-8947-78FA388651B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C371C5D-4983-4C19-A61B-A5CF72ED12E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35EBE57E-7577-4617-8947-78FA388651B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3A534C2-96FB-432A-8A90-E47EBF896543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49C585AB-E68C-4B91-ABF2-451B63F4BBED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B53BB7F7-3EBA-4B88-98B4-0280DF11618C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35EBE57E-7577-4617-8947-78FA388651B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCD60D9B-7860-4386-8EAA-173800820C30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C371C5D-4983-4C19-A61B-A5CF72ED12E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6E51C83-BFBF-456C-8778-9D6F8B2B9698</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F12CEC28-994C-4C92-AD86-908ABA9FA9BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F686D9C5-B812-4033-9DFA-6F038C6EFE22</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3A534C2-96FB-432A-8A90-E47EBF896543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D03807E1-1B7E-4FBD-B4C0-877B87E2AB86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22E5ACE0-2434-43F3-A5AA-F146F8B1C17A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F12CEC28-994C-4C92-AD86-908ABA9FA9BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>159C892C-B83B-4701-B549-907DE7F24ADD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Make new files and folders in the current Finder location</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NewPath</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:newfile_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Separate multiple names with: {var:delimiter}</string>
				<key>text</key>
				<string>Create new files</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D03807E1-1B7E-4FBD-B4C0-877B87E2AB86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>all_paths</key>
					<string>{query}</string>
					<key>is_file</key>
					<string>true</string>
					<key>open_after</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>22E5ACE0-2434-43F3-A5AA-F146F8B1C17A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function alfredArgs(args) {
  return JSON.stringify({ alfredworkflow: { arg: args } })
}

function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run(argv) {
  const extension = envVar("file_extension")

  // Append default extension to paths without one
  const fileList = argv.map(path =&gt; $(path).pathExtension.js.length === 0 ? path + extension : path)

  return alfredArgs(fileList)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F12CEC28-994C-4C92-AD86-908ABA9FA9BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>159C892C-B83B-4701-B549-907DE7F24ADD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:newfile_open_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Separate multiple names with: {var:delimiter}</string>
				<key>text</key>
				<string>Create and open new files</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>137E4749-7D83-426A-A8C4-AB736358775E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>all_paths</key>
					<string>{query}</string>
					<key>is_file</key>
					<string>true</string>
					<key>open_after</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9954B863-DC31-488D-8184-2568AC55AE82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>input_string</key>
					<string>{var:target_dir}/</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.prepend</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>014F6165-D784-4ADA-83CB-43CF6EF9B6E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>35EBE57E-7577-4617-8947-78FA388651B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>84205844-F07F-4447-BA04-0835ECDC517B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Files</string>
						<key>uid</key>
						<string>F686D9C5-B812-4033-9DFA-6F038C6EFE22</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Folders</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C6E51C83-BFBF-456C-8778-9D6F8B2B9698</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_after}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Open Created Paths</string>
						<key>uid</key>
						<string>B71494D3-BC23-4156-947A-05F7140CEB6B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4A6A9B76-F8E1-4A60-859F-A89E81E11DE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:all_paths}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>target_dir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4DFABBFF-CA31-4D8F-B0BA-988B14A2803F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>{var:delimiter}</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>53EFB7FF-B6D9-431E-83A1-9D81CFADA966</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:newdir_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Separate multiple names with: {var:delimiter}</string>
				<key>text</key>
				<string>Create new directories</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5627883C-8996-495B-9FCB-4C76F7784ACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>49C585AB-E68C-4B91-ABF2-451B63F4BBED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>all_paths</key>
					<string>{query}</string>
					<key>is_file</key>
					<string>false</string>
					<key>open_after</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B53BB7F7-3EBA-4B88-98B4-0280DF11618C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B3A534C2-96FB-432A-8A90-E47EBF896543</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:newdir_open_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Separate multiple names with: {var:delimiter}</string>
				<key>text</key>
				<string>Create and open new directories</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCD60D9B-7860-4386-8EAA-173800820C30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>all_paths</key>
					<string>{query}</string>
					<key>is_file</key>
					<string>false</string>
					<key>open_after</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9C371C5D-4983-4C19-A61B-A5CF72ED12E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run the New File Keyword (default: `nf`) followed by a name to make a new empty file in the frontmost Finder location. Running the New File and Open Keyword (default: `nfo`) does the same and opens it after creation.

There are equivalent keywords for New Folder (default: `nd`) and New Folder and Open (default: `ndo`). Adding `/` in the name allows for the quick creation of nested folders.

![Alfred search for nf](images/about/nf.png)
![Alfred search for nd](images/about/nd.png)</string>
	<key>uidata</key>
	<dict>
		<key>014F6165-D784-4ADA-83CB-43CF6EF9B6E3</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>137E4749-7D83-426A-A8C4-AB736358775E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>159C892C-B83B-4701-B549-907DE7F24ADD</key>
		<dict>
			<key>xpos</key>
			<real>1155</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>22E5ACE0-2434-43F3-A5AA-F146F8B1C17A</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>35EBE57E-7577-4617-8947-78FA388651B4</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>49C585AB-E68C-4B91-ABF2-451B63F4BBED</key>
		<dict>
			<key>xpos</key>
			<real>1155</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>4A6A9B76-F8E1-4A60-859F-A89E81E11DE4</key>
		<dict>
			<key>xpos</key>
			<real>1325</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>4DFABBFF-CA31-4D8F-B0BA-988B14A2803F</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>53EFB7FF-B6D9-431E-83A1-9D81CFADA966</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>5627883C-8996-495B-9FCB-4C76F7784ACA</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>84205844-F07F-4447-BA04-0835ECDC517B</key>
		<dict>
			<key>xpos</key>
			<real>1405</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>9954B863-DC31-488D-8184-2568AC55AE82</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>9C371C5D-4983-4C19-A61B-A5CF72ED12E0</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>B3A534C2-96FB-432A-8A90-E47EBF896543</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B53BB7F7-3EBA-4B88-98B4-0280DF11618C</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>BCD60D9B-7860-4386-8EAA-173800820C30</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>C6E51C83-BFBF-456C-8778-9D6F8B2B9698</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>D03807E1-1B7E-4FBD-B4C0-877B87E2AB86</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>F12CEC28-994C-4C92-AD86-908ABA9FA9BB</key>
		<dict>
			<key>note</key>
			<string>Append default extension</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nf</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New File Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>newfile_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords to create new files and folders.</string>
			<key>label</key>
			<string>New Folder Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>newdir_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nfo</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New File and Open</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>newfile_open_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ndo</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords to create new files and folders and open them.</string>
			<key>label</key>
			<string>New Folder and Open</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>newdir_open_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>e.g. .txt</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>When creating files without providing an extension, use this value. Include the period.</string>
			<key>label</key>
			<string>Default File Extension</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>file_extension</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>|</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Character to separate multiple names. Surrounding whitespace is trimmed.</string>
			<key>label</key>
			<string>Delimiter</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>delimiter</string>
		</dict>
	</array>
	<key>version</key>
	<string>22.1</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
