<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.machineclean</string>
	<key>connections</key>
	<dict>
		<key>FED5D171-D581-4C00-9172-DD195380AC73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9245730-36BC-415E-BF86-FB40B9A7A25F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Lock your keyboard and trackpad temporarily, so you can clean them</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MachineClean</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>macclean</string>
				<key>subtext</key>
				<string>Type a number of seconds, or leave empty for the default (50 seconds)</string>
				<key>text</key>
				<string>MachineClean</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FED5D171-D581-4C00-9172-DD195380AC73</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notification() {
	./_licensed/terminal-notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier -title "MachineClean" -message "${1}"
}

default_time='50'

time='{query}'
[[ -z "${time}" ]] &amp;&amp; time="${default_time}"

# Abort if on a MacBook Air
if [[ "$(sysctl hw.model)" == *'MacBookAir'* ]]; then
  notification 'This does not work on the MacBook Air'
  open 'https://github.com/vitorgalvao/alfred-workflows/issues/19'
  exit 1
fi

keyboard=$(kextstat | grep -i 'keyboard' | head -1 | awk '{ print $6 }')
trackpad=$(kextstat | grep -i 'multitouch' | head -1 | awk '{ print $6 }')

notification "Will lock trackpad and keyboard for ${time} seconds"

osascript &lt;&lt; EOS
  do shell script "kextunload -bundle-id ${keyboard} ; kextunload -bundle-id ${trackpad} ; sleep ${time} ; kextload -bundle-id ${keyboard} ; kextload -bundle-id ${trackpad}" with administrator privileges

  # Restart BetterTouchTool, if it is running
  if application "BetterTouchTool" is running then
    tell application "BetterTouchTool"
      quit
      delay 2
      activate
    end tell
  end if
EOS

notification "Trackpad and keyboard unlocked"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9245730-36BC-415E-BF86-FB40B9A7A25F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>D9245730-36BC-415E-BF86-FB40B9A7A25F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FED5D171-D581-4C00-9172-DD195380AC73</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
