<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.pinadd</string>
	<key>connections</key>
	<dict>
		<key>147225F5-C2E2-4FE1-AACF-B43D4F9394C2</key>
		<array/>
		<key>1DE3F45E-76D0-48D6-A32E-3525D0FCD75A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4113C0F-FB1F-41A5-BE53-DAB478C918FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>41A5A177-9A68-4BE7-870A-2F6797AC2464</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A6DF13-548C-431D-9624-F1B2D7DBCA78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>81A6DF13-548C-431D-9624-F1B2D7DBCA78</key>
		<array/>
		<key>E229E8F1-226C-4996-A83D-C181DAEFB268</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CBD80B1-2C96-442C-86AB-93BA5F5FC2FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EB540A71-1528-4CD8-BF49-FF90C76826DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDD912EA-404B-4820-BFCB-02B5A7CAD013</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EDD912EA-404B-4820-BFCB-02B5A7CAD013</key>
		<array/>
		<key>F4113C0F-FB1F-41A5-BE53-DAB478C918FA</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Takes arguments as tags and adds your browser’s frontmost tab as a pinboard bookmark</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PinAdd</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pi</string>
				<key>runningsubtext</key>
				<string>Getting url and title of frontmost tab…</string>
				<key>script</key>
				<string>source ./workflowHandler.sh

if [[ ! -d "$(getDataDir)" ]]; then
cat &lt;&lt; EOF
	&lt;?xml version='1.0'?&gt;&lt;items&gt;
	  &lt;item uid='Configure PinAdd Warning' valid='no'&gt;
	    &lt;title&gt;Your account is not yet configured&lt;/title&gt;
	    &lt;subtitle&gt;run configurepinadd to set it&lt;/subtitle&gt;
	    &lt;icon&gt;icon.png&lt;/icon&gt;
	  &lt;/item&gt;
	&lt;/items&gt;
EOF
else
	source ./setTitleAndURL
fi</string>
				<key>subtext</key>
				<string>Please wait…</string>
				<key>title</key>
				<string>PinAdd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>147225F5-C2E2-4FE1-AACF-B43D4F9394C2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pin</string>
				<key>subtext</key>
				<string>Adds a bookmark</string>
				<key>text</key>
				<string>Add bookmark</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB540A71-1528-4CD8-BF49-FF90C76826DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./pinadd "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EDD912EA-404B-4820-BFCB-02B5A7CAD013</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./pinadd "{{setAsPrivate}} {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81A6DF13-548C-431D-9624-F1B2D7DBCA78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pin</string>
				<key>subtext</key>
				<string>Adds a bookmark as private</string>
				<key>text</key>
				<string>Add private bookmark</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>41A5A177-9A68-4BE7-870A-2F6797AC2464</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>configurepinadd</string>
				<key>subtext</key>
				<string>(See the workflow’s “Readme” section for more details)</string>
				<key>text</key>
				<string>Configure your PinAdd account</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E229E8F1-226C-4996-A83D-C181DAEFB268</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./pinadd "{{configureYourAccount}} {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>3CBD80B1-2C96-442C-86AB-93BA5F5FC2FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1DE3F45E-76D0-48D6-A32E-3525D0FCD75A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>notificator() {
	notificator.app/Contents/Resources/Scripts/notificator -t "PinAdd" -m "${1}"
}
source ./workflowHandler.sh
source ./setTitleAndURL

notificator "Added as unread bookmark"

./pinadd .</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4113C0F-FB1F-41A5-BE53-DAB478C918FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Before using this workflow, you need to configure it with your Pinboard account by running “configurepinadd” followed by your api token and your preferred browser.

You can get the API token of you Pinboard account by visiting
https://pinboard.in/settings/password

Your preferred browser may be one of
Safari, Webkit, Chrome, ChromeCanary, Chromium, Opera, or depends
(“depends” uses the browser you have as the frontmost window, provided it’s one of the mentioned ones).

An example configuration would be
configurepinadd username:HSJWJK2HHSKI14QPDOIK safari</string>
	<key>uidata</key>
	<dict>
		<key>147225F5-C2E2-4FE1-AACF-B43D4F9394C2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1DE3F45E-76D0-48D6-A32E-3525D0FCD75A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>3CBD80B1-2C96-442C-86AB-93BA5F5FC2FD</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>41A5A177-9A68-4BE7-870A-2F6797AC2464</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>81A6DF13-548C-431D-9624-F1B2D7DBCA78</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E229E8F1-226C-4996-A83D-C181DAEFB268</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EB540A71-1528-4CD8-BF49-FF90C76826DB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EDD912EA-404B-4820-BFCB-02B5A7CAD013</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F4113C0F-FB1F-41A5-BE53-DAB478C918FA</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
