<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.pinadd</string>
	<key>connections</key>
	<dict>
		<key>147225F5-C2E2-4FE1-AACF-B43D4F9394C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3481C3B-1483-419B-96C7-CB2CC0A40433</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3C81DF2-524D-4044-BAC1-6BDA9DA6A6FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Takes arguments as tags and adds your browser’s frontmost tab as a pinboard bookmark</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PinAdd</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Operation done</string>
				<key>title</key>
				<string>PinAdd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A3481C3B-1483-419B-96C7-CB2CC0A40433</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pin</string>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>source ./workflowHandler.sh

# addResult "uid" "arg" "title" "subtitle" "icon" "valid" "autocomplete"

if [[ ! -d "$(getDataDir)" ]]; then
	addResult "Configure" "{{configureYourAccount}} {query}" "Configure your account" "your-api-token your-preferred-browser" "icon.png" "yes" ""
else
	addResult "Add bookmark" "{query}" "Add bookmark" "Adds a bookmark" "icon.png" "yes" ""
	addResult "Add private bookmark" "{{setAsPrivate}} {query}" "Add a private bookmark" "Adds a bookmark as private" "icon.png" "yes" ""
	source ./setTitleAndURL
fi

# get feedback xml
echo "$(getXMLResults)"</string>
				<key>subtext</key>
				<string>Takes arguments as tags</string>
				<key>title</key>
				<string>PinAdd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>147225F5-C2E2-4FE1-AACF-B43D4F9394C2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./pinadd "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B3C81DF2-524D-4044-BAC1-6BDA9DA6A6FF</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>147225F5-C2E2-4FE1-AACF-B43D4F9394C2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A3481C3B-1483-419B-96C7-CB2CC0A40433</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B3C81DF2-524D-4044-BAC1-6BDA9DA6A6FF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
