<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.markdownbulletin</string>
	<key>connections</key>
	<dict>
		<key>79F45392-6A63-457B-BB92-47A1EC02C4E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA7497F3-9EA5-418D-BD27-F98645BB8A3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA7497F3-9EA5-418D-BD27-F98645BB8A3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE96DCA0-525D-490B-BBFD-27BDB606A892</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Convert Markdown to BBCode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MarkdownBulletin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DE96DCA0-525D-490B-BBFD-27BDB606A892</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<true/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>79F45392-6A63-457B-BB92-47A1EC02C4E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "{query}" | ruby MarkdownBulletin.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA7497F3-9EA5-418D-BD27-F98645BB8A3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>79F45392-6A63-457B-BB92-47A1EC02C4E4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AA7497F3-9EA5-418D-BD27-F98645BB8A3C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DE96DCA0-525D-490B-BBFD-27BDB606A892</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
