<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>AFA539B0-9BB1-43CD-96FB-1AA6866EA13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5D50DD5-AB63-4406-AA30-3C731D7CD43B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Convert selected text to a QR code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RespondQuickly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>text="{query}"
encoded_text=$(echo "${text}" | perl -MURI::Escape -wlne 'print uri_escape ($_)' | perl -pe 's/\n/%0A/')
qr_image="/tmp/qrimage.png"
 
curl -Lso "${qr_image}" "http://chart.apis.google.com/chart?cht=qr&amp;chs=400x400&amp;chl=${encoded_text}&amp;chld=H|0"

qlmanage -p "${qr_image}" &amp;&gt;/dev/null</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5D50DD5-AB63-4406-AA30-3C731D7CD43B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AFA539B0-9BB1-43CD-96FB-1AA6866EA13B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AFA539B0-9BB1-43CD-96FB-1AA6866EA13B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B5D50DD5-AB63-4406-AA30-3C731D7CD43B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
