<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>13726627-0959-44C2-95D3-D3E21B7407A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C3A9229-C695-41E0-8A56-B39CBA762269</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C3A9229-C695-41E0-8A56-B39CBA762269</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6AA0D682-06BE-47A0-A409-38F6518F60EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6CE976F5-125E-4BD9-8C60-8CD4231457E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C09BC71E-09E7-4CFC-AB8D-4DAFDAF42E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DF18634B-C405-426F-9FF1-03698897C16E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD364D9B-5493-4964-A7FB-E9430406F04A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Spelling correction in various languages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CheckSpelling</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>spell </string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>13726627-0959-44C2-95D3-D3E21B7407A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C3A9229-C695-41E0-8A56-B39CBA762269</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>lang=$(echo "{query}" | sed 's/^\(..\).*/\1/')
text=$(echo "{query}" | sed 's/^..//')

id="CheckSpelling$(pwd | sed 's/.*\.//' | md5)"

urlEncodedString=$(echo "${text}" | perl -MURI::Escape -wlne 'print uri_escape ($_)')
if [[ "${urlEncodedString}" == *'%20' ]]; then
  space=" "
fi

echo -n "$(curl -s "http://${lang}.service.afterthedeadline.com/checkDocument?key=${id}&amp;data=${urlEncodedString}" | grep option | head -1 | sed 's/^.*&lt;option&gt;\(.*\)&lt;\/option&gt;/\1/')${space}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>en</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C09BC71E-09E7-4CFC-AB8D-4DAFDAF42E3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>fr</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FD364D9B-5493-4964-A7FB-E9430406F04A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>de</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DF18634B-C405-426F-9FF1-03698897C16E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>pt</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6AA0D682-06BE-47A0-A409-38F6518F60EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>es</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6CE976F5-125E-4BD9-8C60-8CD4231457E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13726627-0959-44C2-95D3-D3E21B7407A0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2459201D-A4A1-458A-8A1B-4B7EFEFE0E9B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6AA0D682-06BE-47A0-A409-38F6518F60EE</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>6C3A9229-C695-41E0-8A56-B39CBA762269</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6CE976F5-125E-4BD9-8C60-8CD4231457E6</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>C09BC71E-09E7-4CFC-AB8D-4DAFDAF42E3D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DF18634B-C405-426F-9FF1-03698897C16E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>FD364D9B-5493-4964-A7FB-E9430406F04A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
