<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.runcommand</string>
	<key>connections</key>
	<dict>
		<key>19CDA0AB-1F06-4A9A-B336-C04305094E51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6CEDF27-563A-4BE6-8F1B-CFFAE9BB0208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>68CC8A56-102C-4023-BE9A-596453FDDB5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1C74CAA5-F3DA-4197-81A2-DD5E64E2E04C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6CEDF27-563A-4BE6-8F1B-CFFAE9BB0208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>68CC8A56-102C-4023-BE9A-596453FDDB5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>70D7DD2C-C248-44EB-8F75-538914807A66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C3BFA6B-AE9B-47A7-A377-28AD784BA363</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70D7DD2C-C248-44EB-8F75-538914807A66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Runs terminal command on selected files/directories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RunCommand</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Run Command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1C74CAA5-F3DA-4197-81A2-DD5E64E2E04C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "runCommand "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6CEDF27-563A-4BE6-8F1B-CFFAE9BB0208</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo "{query}" | perl -pe 's/[\t\n]/\0/g' &gt; "/tmp/runcommandfilelist"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68CC8A56-102C-4023-BE9A-596453FDDB5C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19CDA0AB-1F06-4A9A-B336-C04305094E51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo "cat /tmp/runcommandfilelist | xargs -0 -J {} {query}" &gt; /tmp/runcommand

chmod +x /tmp/runcommand

if [[ $SHELL == *'bash' ]]; then
	source ${HOME}/.bash_profile
	source ${HOME}/.profile
	source ${HOME}/.bashrc
	$SHELL /tmp/runcommand
elif [[ $SHELL == *'zsh' ]]; then
	source /etc/zshenv
	source ${HOME}/.zshenv
	source ${HOME}/.zshrc
	$SHELL /tmp/runcommand
elif [[ $SHELL == *'csh' ]]; then
	source /etc/csh.cshrc
	source ${HOME}/.cshrc
	$SHELL /tmp/runcommand
elif [[ $SHELL == *'tcsh' ]]; then
	source /etc/csh.cshrc
	source ${HOME}/.tcshrc
	$SHELL /tmp/runcommand
fi

rm /tmp/runcommand</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70D7DD2C-C248-44EB-8F75-538914807A66</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>RunCommand</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3C3BFA6B-AE9B-47A7-A377-28AD784BA363</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>runcommand</string>
				<key>subtext</key>
				<string>Use “{}” for file placeholders, if needed</string>
				<key>text</key>
				<string>RunCommand</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19CDA0AB-1F06-4A9A-B336-C04305094E51</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>1C74CAA5-F3DA-4197-81A2-DD5E64E2E04C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3C3BFA6B-AE9B-47A7-A377-28AD784BA363</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>68CC8A56-102C-4023-BE9A-596453FDDB5C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>70D7DD2C-C248-44EB-8F75-538914807A66</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BC3ADE81-4A31-4D07-A1C8-11BF79A65DE9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F6CEDF27-563A-4BE6-8F1B-CFFAE9BB0208</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
