<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.alfredbookmarklet</string>
	<key>connections</key>
	<dict>
		<key>082A3A21-88BB-48A6-B6B7-CF89A9180213</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9634EAF-B370-4A51-ABF2-C466A4916F83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9634EAF-B370-4A51-ABF2-C466A4916F83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C75A1F57-4590-4C88-A924-E9BB8E239BA7</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Use a browser bookmarklet via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredBookmarklet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Google Chrome" to tell active tab of front window to execute javascript "&lt;bookmarklet_code_here&gt;"

tell application "Safari" to tell front document to do JavaScript "&lt;bookmarklet_code_here&gt;"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C75A1F57-4590-4C88-A924-E9BB8E239BA7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>&lt;keyword_here&gt;</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>082A3A21-88BB-48A6-B6B7-CF89A9180213</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require 'uri'

original_bookmarklet = %x{ pbpaste }
bookmarklet = URI.unescape(original_bookmarklet).gsub('"', "'")

print bookmarklet</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9634EAF-B370-4A51-ABF2-C466A4916F83</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>_cleanbookmarklet</string>
				<key>subtext</key>
				<string>Copy the bookmarklet to the clipboard, and run this</string>
				<key>text</key>
				<string>Cleans bookmarklet code</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>082A3A21-88BB-48A6-B6B7-CF89A9180213</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9840A4F3-FFE0-43A4-A767-C05228F6A1DB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9F564D9C-3C2A-47CE-A99D-C9A8870F43A8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B9634EAF-B370-4A51-ABF2-C466A4916F83</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C75A1F57-4590-4C88-A924-E9BB8E239BA7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ED7079C9-2576-40A4-8B62-CFE0E3E28C2A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
