<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.temporaryemail</string>
	<key>connections</key>
	<dict>
		<key>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45C10052-0E98-4B4A-9B23-99DF057B5FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>736622BA-E278-42DF-8121-265EDBBADFBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9066A3FA-E9D2-44AF-BB72-A54ABBEB3A3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A62BDC1B-6EF0-4884-8225-DED4378FC038</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A62BDC1B-6EF0-4884-8225-DED4378FC038</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9B13513-9247-4498-8320-6E24CF7DBDB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8174851A-74D2-4634-B71B-9BCC7064C9F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9B13513-9247-4498-8320-6E24CF7DBDB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Get a temporary email inbox</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TemporaryEmail</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function notification {
  ./notificator --message "${1}" --title "${alfred_workflow_name}"
}

readonly email_name="${1//[^[:alnum:]]}"

if [[ "${service}" == 'harakirimail.com' ]]; then
  readonly email="${email_name}@harakirimail.com"
  readonly url="https://harakirimail.com/inbox/${email_name}"
elif [[ "${service}" == 'maildrop.cc' ]]; then
  readonly email="${email_name}@maildrop.cc"
  readonly url="https://maildrop.cc/inbox/${email_name}"
else
  readonly email="${email_name}@guerrillamail.com"
  readonly url="https://guerrillamail.com/inbox/${email_name}"
fi

readonly front_browser="$(osascript -e 'tell application "System Events" to return name of first process whose frontmost is true')"

if [[ "${front_browser}" == 'Safari'* || "${front_browser}" == 'Webkit'* ]]; then
  osascript -e "
    tell application \"${front_browser}\" to tell front window
      set tabIndex to index of current tab      make new tab at after tab tabIndex with properties {URL:\"${url}\"}
    end tell
  "  &gt; /dev/null
elif [[ "${front_browser}" == 'Google Chrome'* || "${front_browser}" == 'Chromium'* || "${front_browser}" == 'Opera'* || "${front_browser}" == 'Vivaldi'* || "${front_browser}" == 'Brave Browser'* || "${front_browser}" == 'Microsoft Edge'* ]]; then
  osascript -e "
    tell application \"${front_browser}\" to tell front window
      set tabIndex to active tab index
      make new tab at after tab tabIndex with properties {URL:\"${url}\"}
      set active tab index to tabIndex
    end tell
  "
else
  notification 'You need a supported browser as your frontmost app'
  exit 1
fi

echo -n "${email}"
notification 'Temporary email address copied to clipboard'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tmpmail</string>
				<key>subtext</key>
				<string>Instant disposable email</string>
				<key>text</key>
				<string>TemporaryEmail</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9066A3FA-E9D2-44AF-BB72-A54ABBEB3A3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/source/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/vitorgalvao/alfred-workflows/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45C10052-0E98-4B4A-9B23-99DF057B5FA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.random</string>
			<key>uid</key>
			<string>E9B13513-9247-4498-8320-6E24CF7DBDB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Random</string>
						<key>uid</key>
						<string>8174851A-74D2-4634-B71B-9BCC7064C9F5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Specific</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A62BDC1B-6EF0-4884-8225-DED4378FC038</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>736622BA-E278-42DF-8121-265EDBBADFBA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Call `tmpmail` to make a temporary email address and open a background tab with the corresponding inbox. The address will be copied to your clipboard and pasted to the current input field.

![](https://i.imgur.com/w7Y9kfZ.png)

Giving an argument will try to use that specific name, while leaving it blank will create a random address.

The `service` Workflow Environment Variable sets the service used for the inbox. Supported values: `guerrillamail.com`, `harakirimail.com`, `maildrop.cc`.</string>
	<key>uidata</key>
	<dict>
		<key>1BFF14FC-DF72-4BC9-807B-3D38432CF08D</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>45C10052-0E98-4B4A-9B23-99DF057B5FA5</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>736622BA-E278-42DF-8121-265EDBBADFBA</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>9066A3FA-E9D2-44AF-BB72-A54ABBEB3A3D</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>A62BDC1B-6EF0-4884-8225-DED4378FC038</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>E9B13513-9247-4498-8320-6E24CF7DBDB5</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>service</key>
		<string>guerrillamail.com</string>
	</dict>
	<key>version</key>
	<string>22.3</string>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
