<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.cubeedit</string>
	<key>connections</key>
	<dict>
		<key>0F333EC0-D2BF-4A16-ADB0-73B33C4740E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80180EEA-F070-4ED5-BA35-E2C6ABAD36B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>323AA779-E696-4B19-829B-2F3FCFF3A4BE</key>
		<array/>
		<key>36385139-0621-40A8-AB8E-8E7FB4926D59</key>
		<array/>
		<key>4A0AF624-363E-4EAD-BDEB-598CB4029BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2CAE161-F7C5-4B1F-8A57-486412C21AFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52E2A7DE-6538-4F11-9BB0-631084F364D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE1F9BAF-9303-453F-AFF8-E0406464E504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5A82E735-DAF0-4253-B3E3-5AE2704B5BC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A0AF624-363E-4EAD-BDEB-598CB4029BC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E06BFD25-6001-408F-811D-AA392100AB75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7F3F6B3-84B1-4B5E-B10C-BBA146255351</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD31C941-721A-42E9-A368-AEA09BC01360</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80180EEA-F070-4ED5-BA35-E2C6ABAD36B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1C66A42-E594-4F54-B576-89224F385710</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9810B2C2-31BC-47F1-8561-200F388CE225</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323AA779-E696-4B19-829B-2F3FCFF3A4BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B7F3F6B3-84B1-4B5E-B10C-BBA146255351</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCD15A36-6782-4EE7-9149-5B113365724B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCD15A36-6782-4EE7-9149-5B113365724B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36385139-0621-40A8-AB8E-8E7FB4926D59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD31C941-721A-42E9-A368-AEA09BC01360</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F333EC0-D2BF-4A16-ADB0-73B33C4740E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBB11C7E-E8B8-4CE4-9732-3027479B5150</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52E2A7DE-6538-4F11-9BB0-631084F364D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E06BFD25-6001-408F-811D-AA392100AB75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBB11C7E-E8B8-4CE4-9732-3027479B5150</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2CAE161-F7C5-4B1F-8A57-486412C21AFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9810B2C2-31BC-47F1-8561-200F388CE225</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE1F9BAF-9303-453F-AFF8-E0406464E504</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Edit MTG cube</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CubeEdit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alter_line 'add' "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>323AA779-E696-4B19-829B-2F3FCFF3A4BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing card list…</string>
				<key>script</key>
				<string># Update lists if older than one day or they do not yet exist
if [[ -n "$(find "${alfred_workflow_cache}/${cube_cards_json}" -mtime 1)" || ! -f "${alfred_workflow_cache}/${cube_cards_json}" ]]; then
  ./build_cube_json "${HOME}/${cube_dir}" "${alfred_workflow_cache}/${cube_cards_json}" "${alfred_workflow_cache}/${all_cards_json}"
fi

cat "${alfred_workflow_cache}/${all_cards_json}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Add a card</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9810B2C2-31BC-47F1-8561-200F388CE225</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Add a card","arg":"add","subtitle":"Action a result to add one copy of a card to its list."},{"title":"Remove a card","arg":"remove","subtitle":"Action a result to remove all card copies from their list."},{"title":"(Re)build JSON","arg":"build","subtitle":"Should take a few seconds. Will warn when done."},{"title":"Use Cockatrice","arg":"cockatrice","subtitle":"For manual edits."}]</string>
				<key>keyword</key>
				<string>cubo</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Pick an option…</string>
				<key>title</key>
				<string>Edit MTG Cube</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>5A82E735-DAF0-4253-B3E3-5AE2704B5BC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E2CAE161-F7C5-4B1F-8A57-486412C21AFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>add</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4A0AF624-363E-4EAD-BDEB-598CB4029BC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alter_line 'remove' "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE1F9BAF-9303-453F-AFF8-E0406464E504</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing card list…</string>
				<key>script</key>
				<string># Update lists if older than one day or they do not yet exist
if [[ -n "$(find "${alfred_workflow_cache}/${cube_cards_json}" -mtime 1)" || ! -f "${alfred_workflow_cache}/${cube_cards_json}" ]]; then
  ./build_cube_json "${HOME}/${cube_dir}" "${alfred_workflow_cache}/${cube_cards_json}" "${alfred_workflow_cache}/${all_cards_json}"
fi

cat "${alfred_workflow_cache}/${cube_cards_json}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Remove a Card</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52E2A7DE-6538-4F11-9BB0-631084F364D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DBB11C7E-E8B8-4CE4-9732-3027479B5150</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>remove</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E06BFD25-6001-408F-811D-AA392100AB75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function notification {
  /bin/zsh ./Notificator.app/Contents/Resources/Scripts/notificator --message "${1}" --title "${alfred_workflow_name}" --sound "${2}"
}

if ./build_cube_json "${HOME}/${cube_dir}" "${alfred_workflow_cache}/${cube_cards_json}" "${alfred_workflow_cache}/${all_cards_json}"; then
  notification 'Rebuilt JSON' 'Glass'
else
  notification 'Error rebuilding JSON' 'Funk'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36385139-0621-40A8-AB8E-8E7FB4926D59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BCD15A36-6782-4EE7-9149-5B113365724B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>build</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B7F3F6B3-84B1-4B5E-B10C-BBA146255351</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'json'
require 'pathname'

cube_dir = File.join(ENV['HOME'], ENV['cube_dir'])

lists = Pathname(cube_dir).children.select{ |path| path.extname.end_with?('.txt') }

script_filter_items = []

lists.each do |list|
  list_name = list.basename(list.extname).to_s

  script_filter_items.push(
    title: list_name,
    icon: { path: 'symbols/' + list_name + '.png' },
    arg: list.to_path
  )
end

puts({items: script_filter_items}.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>80180EEA-F070-4ED5-BA35-E2C6ABAD36B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'tell application "Cockatrice" to activate'
open -a 'Dropshelf' "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1C66A42-E594-4F54-B576-89224F385710</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F333EC0-D2BF-4A16-ADB0-73B33C4740E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>cockatrice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CD31C941-721A-42E9-A368-AEA09BC01360</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F333EC0-D2BF-4A16-ADB0-73B33C4740E8</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>323AA779-E696-4B19-829B-2F3FCFF3A4BE</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>36385139-0621-40A8-AB8E-8E7FB4926D59</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>4A0AF624-363E-4EAD-BDEB-598CB4029BC5</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>52E2A7DE-6538-4F11-9BB0-631084F364D4</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>5A82E735-DAF0-4253-B3E3-5AE2704B5BC0</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>80180EEA-F070-4ED5-BA35-E2C6ABAD36B8</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>9810B2C2-31BC-47F1-8561-200F388CE225</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>A1C66A42-E594-4F54-B576-89224F385710</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>B7F3F6B3-84B1-4B5E-B10C-BBA146255351</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>BCD15A36-6782-4EE7-9149-5B113365724B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>CD31C941-721A-42E9-A368-AEA09BC01360</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>DBB11C7E-E8B8-4CE4-9732-3027479B5150</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E06BFD25-6001-408F-811D-AA392100AB75</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E2CAE161-F7C5-4B1F-8A57-486412C21AFE</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>EE1F9BAF-9303-453F-AFF8-E0406464E504</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>all_cards_json</key>
		<string>all_cards.json</string>
		<key>cube_cards_json</key>
		<string>cube_cards.json</string>
		<key>cube_dir</key>
		<string>Dropbox/Misc/Andre/Cubo</string>
		<key>image_size</key>
		<string>normal</string>
	</dict>
	<key>version</key>
	<string>21.1</string>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
