<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.videoduration</string>
	<key>connections</key>
	<dict>
		<key>1B14953E-E57E-44E2-9659-FEEDDFB44CC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83F06055-1527-429B-91A0-E17E57616D3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Copies a given online video site’s url to the clipboard with it’s duration in square brackets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VideoDuration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash

url="$(pbpaste)"

# functions
convertsecs() {
    ((h=${1}/3600))
    ((m=(${1}%3600)/60))
    ((s=${1}%60))
    printf "%02dh%02dm%02ds" $h $m $s
}

convertmins() {
    if [[ ${1} == *'m'* ]] &amp;&amp; [[ $(echo ${1} | sed 's/m.*//') -gt 60 ]]; then
        mins=$(echo ${1} | sed 's/m.*//')
        ((h=${mins}/60))
        ((m=${mins}-${h}*60))

        echo ${1} | sed "s/.*m/${h}h${m}m/"
    else
        echo ${1}
    fi
}

# domain-specific
if [[ ${url} == *'youtube.com'* ]] || [[ ${url} == *'youtu.be'* ]]; then
    duration=$(curl --silent --location "${url}" | grep '&lt;meta itemprop="duration"' | sed 's/.*PT//;s/"&gt;//' | tr [:upper:] [:lower:])
    duration=$(convertmins "${duration}")
fi

if [[ ${url} == *'vimeo.com'* ]]; then
    duration=$(curl --silent --location "${url}" | grep '&lt;meta itemprop="duration"' | sed 's/.*PT//;s/"&gt;//' | tr [:upper:] [:lower:])
fi

if [[ ${url} == *'ted.com'* ]]; then
    duration=$(curl --silent --location "${url}" | grep '&lt;meta property="video:duration' | sed 's/.*content="\(.*\)".*/\1/')
    duration=$(convertsecs "${duration}")
fi

# format the time string to remove extra zeros
if [[ ${duration} == '0'?'h'* ]]; then
    duration=$(echo ${duration} | sed 's/0//')
fi

if [[ ${duration} == '0h'* ]]; then
    duration=$(echo ${duration} | sed 's/0h//')
fi

if [[ ${duration} == '0'?'m'* ]]; then
    duration=$(echo ${duration} | sed 's/0//')
fi

if [[ ${duration} == '0m'* ]]; then
    duration=$(echo ${duration} | sed 's/0m//')
fi

if [[ ${duration} == '0'?'s'* ]]; then
    duration=$(echo ${duration} | sed 's/0//')
fi

# format duration; if it's empty (probably used on an unsupported website), it'll just show the url
if [[ ! -z ${duration} ]]; then
    duration=" [${duration}]"
fi

echo -n "${url}${duration}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>videoduration</string>
				<key>subtext</key>
				<string>Will act on the URL you have on your clipboard</string>
				<key>text</key>
				<string>VideoDuration</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B14953E-E57E-44E2-9659-FEEDDFB44CC8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83F06055-1527-429B-91A0-E17E57616D3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B14953E-E57E-44E2-9659-FEEDDFB44CC8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>83F06055-1527-429B-91A0-E17E57616D3D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
