<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.videoduration</string>
	<key>connections</key>
	<dict>
		<key>0A8B1E95-9DC0-48BB-B38D-20710C2F313E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83F06055-1527-429B-91A0-E17E57616D3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C0E16F9-89ED-4222-836C-9C947864FD53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C601AB17-0AD8-4A33-9004-D235B2261E70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Copies a given online video site’s url to the clipboard with it’s duration in square brackets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VideoDuration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

[[ -n "{query}" ]] &amp;&amp; url="{query}" || url="$(pbpaste)"

duration=$(python youtube-dl --get-duration "${url}" | rev | sed 's/^/s/;s/:/m/;s/:/h/' | rev | sed 's/^/[/;s/$/]/')

echo -n "${url} ${duration}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0A8B1E95-9DC0-48BB-B38D-20710C2F313E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83F06055-1527-429B-91A0-E17E57616D3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>videoduration</string>
				<key>subtext</key>
				<string>Will act on the URL you have on your clipboard</string>
				<key>text</key>
				<string>VideoDuration</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C601AB17-0AD8-4A33-9004-D235B2261E70</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># update youtube-dl if it's more than 15 days old
if [[ $(find youtube-dl -mtime +15) ]]; then
  python youtube-dl --update
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2C0E16F9-89ED-4222-836C-9C947864FD53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A8B1E95-9DC0-48BB-B38D-20710C2F313E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>28B55659-9FD1-44B6-AA1E-C8BA1149FC87</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2C0E16F9-89ED-4222-836C-9C947864FD53</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>83F06055-1527-429B-91A0-E17E57616D3D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C601AB17-0AD8-4A33-9004-D235B2261E70</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
